.rating {unicode-bidi: bidi-override;direction: rtl;text-align: center;}
.rating > span {display: inline-block;position: relative;width: 1.1em;font-size: 30px;}
/*.rating > span:hover, .rating > span:hover ~ span {color: transparent;}
.rating > span:hover:before, .rating > span:hover ~ span:before {content: "\2605";position: absolute;left: 0; color: gold;
}*/

.ratings_stars:hover, .ratings_stars:hover ~ span {
  color: transparent;
}

.ratings_stars:hover:before, .ratings_stars:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

.ratings_stars:active:before, .ratings_stars:active ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

.ratings_stars.selected {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}
