<section class="TM-Login ">
  <div class="row">
    <div class="col-12">


      <div class="TM-L-Bx no-padding">
        <div class="row">
          <div class="rating">
            <h3>How was Your Meeting Experience with audio & Video?</h3>

            <!--<form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" novalidate>
              <div class="text-center">
                <h3>Thanks for joining</h3>
                <h6>Please rate your experience</h6>

                <div class="rating">
                  <ng-container *ngFor="let i of collection;">
                    <span class="ratings_stars" (click)="addRating(i)" [ngClass]="{'selected': (i <= rating)}">☆</span>
                  </ng-container>
                </div>

                <div class="form-group">
                  <label for="feedback">Any Comments</label>
                  <input type="text" class="form-control" id="feedback" formControlName="feedback">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                <button class="btn btn-info" (click)="dismissFeedback()">Dismiss</button>

              </div>
            </form>-->

            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" novalidate class="smileys">
              <div class="rating-us">
                <ul>
                  <li>
                    <input type="radio" name="smiley" value="1" class="bad" (click)="addRating(1)">
                    <span>Bad</span>
                  </li>
                  <li>
                    <input type="radio" name="smiley" value="2" class="average" (click)="addRating(2)">
                    <span>Average</span>
                  </li>
                  <li>
                    <input type="radio" name="smiley" value="3" class="nice" (click)="addRating(3)">
                    <span>Nice</span>
                  </li>
                  <li>
                    <input type="radio" name="smiley" value="4" class="good" (click)="addRating(4)">
                    <span>Good</span>
                  </li>
                  <li>
                    <input type="radio" name="smiley" value="5" class="excellent" (click)="addRating(5)">
                    <span>Excellent</span>
                  </li>
                </ul>

                <div class="dismiss mt-5">
                  <button class="btn btn-secondary cancel" (click)="dismissFeedback()">Dismiss</button>
                </div>
              </div>

              <div class="actions rating-feedback">

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <textarea placeholder="Type Your Feedback Here..." name="feedback" id="feedback"
                                formControlName="feedback">
                      </textarea>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="anonymousCheck" formControlName="anonymousCheck" (click)="feedbackDetails()">
                        <label class="custom-control-label" for="anonymousCheck" style="font-size: 15px">
                          Leave feedback anonymously
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 feedback-details">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 feedback-details">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="phoneNo" placeholder="Phone Number" (keypress)="onlyNumberKey($event)">
                    </div>
                  </div>

                  <div class="col-12 feedback-details">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                  </div>

                  <div class="col-12" style="margin-top: 1rem;">
                    <div class="button-group">
                      <button class="btn btn-secondary cancel" (click)="dismissFeedback()">Dismiss</button>
                      <button type="submit" class="btn btn-primary ml-2">Send</button>
                    </div>
                  </div>

                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

