<section class="TM-Login">
  <div class="row">
    <div class="col-12" *ngIf="!this.roomId || !this.meetingCode">
      <div class="TeamBrand">
        <img src="../../../assets/images/logo.png" alt="Acefone">
      </div>

      <div class="TM-L-Bx">
        <!--<div class="row">
            <a *ngIf="lastMeeting" class="btn btn-lg-primary" (click)="fillFeedback()">Leave Feedback for last meeting</a>
        </div>-->
        <div class="row">
          <div class="col-sm-6">
            <a class="bg-icon" data-toggle="modal" data-target=".JoinMeetingModal"><img src="../../../assets/images/add-icon.png" alt=""></a>
            <h1>Join a meeting</h1>
            <p>Enter your meeting code.</p>
            <a class="btn btn-lg-primary" data-toggle="modal" data-target=".JoinMeetingModal" (click)="captchaStatus()">Join Meeting</a>
          </div>
          <div class="col-sm-6">
            <div class="seperator"></div>
            <a class="bg-icon" data-toggle="modal" data-target=".HostMeetingModal">
              <img src="../../../assets/images/video-icon.png" alt="">
            </a>
            <h1>Host a meeting</h1>
            <p>Start free meeting now.</p>
            <a class="btn btn-lg-primary" data-toggle="modal" data-target=".HostMeetingModal" (click)="captchaStatus()">Start Meeting</a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6" *ngIf="this.roomId && this.meetingCode">
      <div class="TeamBrand">
        <img src="../../../assets/images/logo.png" alt="TeamMeet">
      </div>

      <div class="TM-L-Bx">
        <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="joinMeetingForm" (ngSubmit)="joinMeeting()" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="attendee_name" placeholder="Name">
              </div>

              <!--<div class="form-group">
                <input type="text" class="form-control" id="room_id1" formControlName="name" [readOnly]="roomId" placeholder="Room Name">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" formControlName="meeting_code" [readOnly]="meetingCode" placeholder="Meeting Code">
              </div>-->

              <div class="form-group form-check mb-0 px-0">
                <div #recaptcha></div>
              </div>

              <button type="submit" class="btn btn-lg-primary">Join Meeting</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="modal HostMeetingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Host a Meeting</h2>
        <p>Start free meeting now.</p>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="meetingForm" (ngSubmit)="createMeeting()" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" id="host_name" formControlName="host_name" placeholder="Name">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="display_name" formControlName="display_name" placeholder="Meeting Name">
            </div>

            <div class="form-group form-check mb-0 px-0">
              <div #recaptcha></div>
            </div>
            <button type="submit" class="btn btn-lg-primary">Start Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal JoinMeetingModal" *ngIf="!this.roomId || !this.meetingCode">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Join a Meeting</h2>
        <p>Enter your meeting code</p>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="joinMeetingForm" (ngSubmit)="joinMeeting()" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" id="attendee_name" formControlName="attendee_name" placeholder="Name">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="room_id" formControlName="name" [readOnly]="roomId" placeholder="Room Name">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="meeting_code" formControlName="meeting_code" [readOnly]="meetingCode" placeholder="Meeting Code">
            </div>

            <div class="form-group form-check mb-0 px-0">
              <div #recaptcha></div>
            </div>

            <button type="submit" class="btn btn-lg-primary">Join Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
