
.circle-wave {
    position: absolute;
    z-index: 100;
    right: 50%;
    width: 0px;
    height: 0px;
    border: 1px solid #979797;
    opacity: 0;
    border-radius: 50%;
    animation: pulse 5s infinite;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  
  #c2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  #c3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  #c4 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  #c5 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  @keyframes pulse {
    0% {
      width: 0px;
      height: 0px;
      margin-right: -0px;
      top: 175px;
      opacity: 0;
    }
    20% {
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      margin-right: -250px;
      top: -75px;
      opacity: 0;
    }
  }
  