.TM-Footer{background-color: #202125;color: #9b9ea3;position: fixed;width: 100%;bottom: 0;}
.TM-Footer > .container-fluid{padding-right:0;}
.TM-Footer > .container-fluid > .row{display: table;width: 100%;margin: 0;}
.TM-Footer > .container-fluid > .row > .col-4{height: 80px;display: table-cell;width: 33.33%;vertical-align: middle;}

/*
.tm-vc-nav{margin: 0 auto;padding: 0;list-style: none;display: table;}
.tm-vc-nav li{display: table-cell;position: relative;}
.tm-vc-nav > li > a{display: block;white-space: nowrap;height: 80px;line-height: 80px;padding: 0 18px;}
.tm-vc-nav > li > a.active, .tm-vc-nav > li > a:focus{background-color: #26282c;}
.tm-vc-nav > li > a.active .material-icons{color: #01b09c;}
.tm-vc-nav li a .material-icons{color: #9b9ea3;font-size: 31px; vertical-align: middle;position: relative;}
.tm-vc-nav li .dropdown-toggle::after {margin: 0; color: #9b9ea3;position: absolute;right:11px; top: 48%;transform:rotate(180deg) translate(-50%);border-top: 4px solid;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.tm-vc-nav .dropdown-menu{top: inherit !important;bottom: 111%;transform: inherit !important;background-color: #202125;border: transparent;}
.tm-vc-nav .dropdown-menu:after{content: '';width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 8px solid #202125;position: absolute;top: 100%;left: 20px;}
.tm-vc-nav .dropdown-menu .dropdown-item{padding: 0;display: block;}
.tm-vc-nav .dropdown-menu .dropdown-item a{padding: .25rem 1rem;display: block;font-size: 14px;color: #9b9ea3;}
.tm-vc-nav .dropdown-menu .material-icons{font-size: 21px;}
.tm-vc-nav li a .u-count, .tm-vc-nav li a .m-count{position: absolute;width: 19px;height: 19px;line-height: 19px;background-color: #00b19b;border-radius: 10px;font-size: 11px;color: #111;font-family: 'Poppins-SemiBold'; text-align: center;top: 18px;right: 11px;}
.tm-vc-nav .dropdown-menu .dropdown-item.active, .tm-vc-nav .dropdown-menu .dropdown-item:active, .tm-vc-nav .dropdown-menu .dropdown-item:focus, .tm-vc-nav .dropdown-menu .dropdown-item:hover{background-color:rgba(0,0,0,0.25);}
.tm-vc-nav .dropdown-menu .dropdown-menu{position: relative !important;border: transparent;padding: 0;margin: 0; width: 100%;}
.tm-vc-nav .dropdown-menu .dropdown-menu .dropdown-item a{padding-left:50px;}
.tm-vc-nav .dropdown-menu .dropdown-menu:after{display: none;}
.tm-vc-nav .dropdown-menu .dropdown-menu .dropdown-item a{padding-left: 40px;}
.tm-vc-nav .dropdown-menu .dropdown-menu .active a, .tm-vc-nav .dropdown-menu .dropdown-menu .active .material-icons{color:#01b09c;}
.tm-vc-nav .dropdown-menu .dropdown-menu .dropdown-item a .material-icons{font-size: 19px;vertical-align: text-bottom;}
*/

.CallEndBtn{margin-left: auto;display: table;background-color: #cb1440;height: 80px;line-height: 80px;padding:0 20px;color: #e01741;text-transform: uppercase;font-family: 'Poppins-SemiBold';white-space: nowrap;}
.CallEndBtn:hover, .CallEndBtn:focus{color: #e01741;}
.CallEndBtn .material-icons{vertical-align: middle; color: #fff;font-size: 31px; width: 100%;text-align: center;}

.TM-Footer .list-group{margin: 0;padding: 0;list-style: none;display: table;}
.TM-Footer .list-group li{display: table-cell; vertical-align: middle;}
.TM-Footer .list-group li a{display: block;margin-right: 2px;}
.TM-Footer .list-group li a .material-icons{vertical-align: middle;}
.TM-Footer .list-group li a img{max-height: 80px;width: auto;vertical-align: top;}
.TM-Footer .list-group li:first-child a{padding: 0 20px;padding-left: 0;}
.TM-Footer .list-group > li:first-child > a > .material-icons{color: #9b9ea3;font-size: 31px;}
.TM-Footer .list-group > li > a{white-space: nowrap;height: 80px;line-height: 80px;}
.TM-Footer .list-group .dropdown-toggle:after{display: none;}
.TM-Footer .list-group .dropdown-menu{top: -10px !important;background-color: #202125;border:transparent;}
.TM-Footer .list-group .dropdown-menu:after{content: '';width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 8px solid #202125;position: absolute;top: 100%;left: 20px;}
.TM-Footer .list-group .dropdown-menu .dropdown-item{padding: .25rem 1rem;font-size: 15px;color: #9b9ea3;}
.TM-Footer .list-group .dropdown-menu .material-icons{font-size: 21px;}
.TM-Footer .list-group .dropdown-menu .dropdown-item.active, .TM-Footer .list-group .dropdown-menu .dropdown-item:active, .TM-Footer .list-group .dropdown-menu .dropdown-item:focus, .TM-Footer .list-group .dropdown-menu .dropdown-item:hover{background-color:rgba(0,0,0,0.25);}





/*====================New Style Start===============*/
.SettingModal{backdrop-filter: blur(0.1em) !important;color: #989ea3;}
.SettingModal .modal-dialog{max-width: 850px;}
.SettingModal .modal-header{border: transparent;position: sticky;top: 20px;padding:0 22px;z-index: 9;}
.SettingModal .modal-body .row{margin: 0;padding:0 !important;width: 100%;}
.SettingModal .modal-body > .row > .col-4{background-color: #292b2f;padding:20px 20px 20px 0;}
.SettingModal .modal-body > .row > .col-4 .BgSticky{position: relative;width: 100%;height:100%;}
.SettingModal .modal-body > .row > .col-4 .BgSticky .StickyBx{position: sticky;top: 20px;z-index: 9;}

.SettingModal .col-4 h2{margin: 0 0 25px;padding: 0 15px 0 25px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 18px;color: #f2f2f2;}
.SettingModal .modal-dialog{height: 100%;margin: 0 auto;align-items: center;display: flex;min-height: 100%;}
.SettingModal[aria-modal="true"] ~ .modal-backdrop{background-color: rgba(15,29,50,0.9);}
.SettingModal .modal-content{max-height: calc(100% - 100px);background: #1f2125;border: transparent;overflow: hidden;position: relative;}
.SettingModal .modal-body{margin: 0;padding:0 !important;max-height: calc(100% - 100px);overflow: auto;position: relative;}
.SettingModal .modal-body::-webkit-scrollbar{width: 8px;}
.SettingModal .modal-body::-webkit-scrollbar-track{background: #1f2125;}
.SettingModal .modal-body::-webkit-scrollbar-thumb{background: #494d51;border-radius: 10px;}
.SettingModal .modal-body > .row > .col-8{padding:20px;}
.SettingModal .modal-body > .row > .col-8 > .tab-content{height: 100%;}
.SettingModal .modal-body > .row > .col-8 > .tab-content .tab-pane{position: relative;height: 100%;}

.SettingModal .modal-body .tab-content .col-4{padding-left: 5px;padding-right: 5px;}
.SettingModal .modal-body .tab-content .col-8{padding-left: 0;}
.SettingModal .modal-body .tab-content .col-4, .SettingModal .modal-body .tab-content .col-8{margin-bottom: 20px;}
.SettingModal .modal-body .tab-content .form-group{margin-bottom: 0;}
.SettingModal .modal-body .tab-content select{border:1px rgba(255,255,255,.3) solid;height: 26px;line-height: 26px;border-radius: 15px; width: 100%;background-color: transparent;box-sizing: border-box;padding: 0 10px;}
.SettingModal .title{margin-bottom: 20px;padding: 0;color: #fff;font-size: 15px;}
.SettingModal .progress {background-color: #3f4145;height: 7px;margin-top: 12px;}
.SettingModal .progress-bar{background-color: #696c70;}

.SettingModal .nav-tabs{display: flex;flex-direction: column;justify-content: center;text-align: left;border: transparent;}
.SettingModal .nav-tabs .nav-item{margin: 0;}
.SettingModal .nav-tabs .nav-item .nav-link{border: transparent;color: #989ea3;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 46px;line-height: 46px;padding: 0 15px 0 25px;position: relative;}
.SettingModal .nav-tabs .nav-item .nav-link .material-icons{width: 30px;height: 30px;line-height: 30px;border-radius: 6px; text-align: center; background-color: #1f2125;margin-right: 12px;}
.SettingModal .nav-tabs .nav-item .active .material-icons{background-color: #1a3838;}
.SettingModal .nav-tabs .nav-item .active{background-color:#1f2125;color: #01b09c;border-radius:0 25px 25px 0;}
.SettingModal .nav-tabs .nav-item .active:before{content: '';position: absolute;left: 0;width: 3px;height: 100%;background-color: #01b09c;}
.SettingModal select{color: #a9adb1;background-color: transparent;-ms-appearance:none; -moz-appearance:none; -webkit-appearance:none; appearance:none;background: url(../images/arrow_down.svg) no-repeat right 5px center #292b2f;}
.SettingModal select option:checked {background-color: #1f2125;}
.SettingModal select option:not(:checked) {background-color:#1f2125;}
.SettingModal .btn-group{margin-left: auto;display: table;}
.SettingModal .close{position: relative;top: 0;right:5px;text-shadow: inherit;color: #898f94;opacity: inherit;padding: 0;cursor: pointer;}


.MeetingEndedModal{backdrop-filter: blur(0.6em) !important;color: #989ea3;}




.v-bx{border-radius: 10px;position: relative;margin-bottom: 20px;width: 100%;height: 250px;overflow: hidden;}
.v-bx img{border-radius: 10px;}
.v-bx .rotate{position: absolute;right: 0;top: 10px;}

.custom-radio .custom-control-label::after, .custom-radio .custom-control-label::before{top: .15rem;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {border-color: #00b09c;background-color: #00b09c;}









/*====================New Style End===============*/



/*share screen*/

.sharescreen{backdrop-filter: blur(0.1em) !important;color: #989ea3;}
.sharescreen .modal-dialog{max-width: 1050px; background:#1f2125;   margin: 7rem auto;align-items: center;display: flex; min-height: 70%;}
.sharescreen .modal-header{border: transparent;position: sticky;top: 20px;padding:0 22px;z-index: 9; display:inline-block; margin-bottom:40px;   }
.sharescreen .modal-content{background:#1f2125; border:0; }
.sharescreen .modal-body .row{margin: 0;padding:0 !important;width: 100%;}
.sharescreen .modal-body{ padding: 1.6rem ;  }
.sharescreen .modal-body > .row > .col-4{background-color: #292b2f;padding:20px 20px 20px 0;}
.sharescreen .modal-body > .row > .col-4 .BgSticky{position: relative;width: 100%;height:100%;}
.sharescreen .modal-body > .row > .col-4 .BgSticky .StickyBx{position: sticky;top: 20px;z-index: 9;}
.sharescreen.modal.show .modal-dialog { -webkit-transform: none; transform: none;padding: 40px 60px; border-radius: 12px;}
.sharescreen.modal .BgSticky { margin-bottom: 25px;  }
.sharescreen .modal-header h2 {font-size:22px; color:#fff; font-weight:600;    }
.sharescreen .modal-header small{ font-size:14px; color:#989ea3;   }
.sharescreen .modal-body > .row > .col-12{ padding:0;   }
.sharescreen .nav-tabs .nav-item .active:before {content: ''; position: absolute;left: 0; width: 100%; height: 1px; bottom:0;  background-color: #01b09c;}
.sharescreen .nav-tabs .nav-item .nav-link{ color:#fff; font-size:15px; padding-left:0; }
.sharescreen .nav-tabs .nav-item .nav-link:hover{ border:0;  }
.sharescreen .nav-tabs  > .col-4{ padding-left:0; padding-right:0;   }
.sharescreen .nav-tabs .nav-item .active{ color:#01b09c; background:none; border:0;    }
.sharescreen .screen-box-advanced{ border:1px solid #fff; border-radius: 4px; width:100%; display: flex; }
.sharescreen .screen-box-advanced{ display:  flex; align-items:center;  flex-direction: column;}

.sharescreen .tab-content > .tab-pane > .col-4{ padding:0;    }
.sharescreen .screen1-box{ width:80%; margin:0 auto; }
.sharescreen .screen1-box img{ width:100%;   }
.sharescreen .screen1-box  span{ font-size:14px; color:#989ea3; margin-top:15px; display:block;       }
.sharescreen  .btn-secondary { font-size:14px; color:#a7abaf; background:none; border:0;   }
.sharescreen  .btn-secondary:focus{ outline:none; border:0; box-shadow:none;   }
.sharescreen  .btn-secondary:active{ background:none; color:#01b09c;    }
.sharescreen  .tab-content > .col-4   { padding-left:0; padding-right:0;   }



