.TM-Header{background-color: #2a2b2f;position: fixed;width: 100%;top: 0;z-index: 99;}
.TM-Header .TM-Brand{display: inline-block;padding: 8px 0;}
.TM-Header .row .col-6{min-height: 44px;}
.TM-Header .row .col-6 + .col-6{text-align: right;}
.TM-Header .list-group{margin: 0;margin-left: auto; padding: 0;list-style: none;display: table;}
.TM-Header .list-group li{display: table-cell;vertical-align: middle;}
.TM-Header .list-group li a{display: block;line-height: 44px;vertical-align: middle;padding:0 12px;}
.TM-Header .list-group li a .material-icons{vertical-align: middle;color: #fefefe;}
.TM-Header .list-group li:last-child a{padding-right: 0;}