html, body{height: 100%;}
.btn-lg-primary{margin-top: 35px;background: #3f6efd;height: 48px;line-height: 48px;white-space: nowrap;padding: 0; width: 100%;font-size: 16px;border: transparent;box-shadow: none;cursor: pointer;color: #fff !important;}
.btn-lg-primary:hover, .btn-lg-primary:focus{border: transparent !important;box-shadow: none !important;background: #3f6efd !important;color: #fff;}
.btn-lg-primary:hover{opacity: 0.95;}
.TM-Login{height: 100%;width: 100%; background-color: #c0e3dd;background:url(../images/bg-login.jpg) no-repeat;background-position: center;background-size: cover;}
.TM-Login>.row{margin: 0;align-items:center;display: flex;min-height: 100%;}
.TM-Login>.row > .col-12{max-width: 790px;margin: 0 auto;}
.TM-Login>.row > .col-6{max-width: 500px;margin: 0 auto;}
.TM-Login .TeamBrand{position: absolute;left: 0;right: 0;margin: 0 auto;text-align: center;bottom: 109%;}
.TM-L-Bx{background: #fff;border-radius:10px;padding: 25px 0;box-shadow: 0 0 25px 0 rgba(0,0,0,0.07);}
.TM-L-Bx>.row{margin: 0;}
.TM-L-Bx .col-sm-12{padding: 35px 55px;text-align: center;}
.TM-L-Bx .col-sm-6{padding: 35px 55px;text-align: center;}
.TM-L-Bx .col-sm-6 h1{margin:0 0 8px;padding: 0;font-family: 'Poppins-SemiBold';font-size: 20px;color: #0f2825;}
.TM-L-Bx .col-sm-6 p{margin:0;padding: 0;color: #36615c;font-size:16px;font-family: 'Poppins-Regular';}
.TM-L-Bx .bg-icon{width: 100px;height: 100px;line-height: 100px; margin: 0 auto 32px;border-radius:15px;background-color: #e8edfc;display: inline-block;cursor: pointer;}
.TM-L-Bx .seperator{position: absolute;top: 0;left: 1px;width: 1px;height: 100%;background-color: #dce0e0;}
.TM-L-Bx .seperator:after{content: 'OR';font-family: 'Poppins-SemiBold';width: 35px;height: 35px;line-height: 35px; background-color: #fff; text-align: center; position: absolute;left:-17.5px; top:48%;transform: translateY(-50%);color: #a9c2bf;font-size: 14px;}
.HostMeetingModal, .JoinMeetingModal{backdrop-filter: blur(0.2em) !important;}
.HostMeetingModal .modal-dialog, .JoinMeetingModal .modal-dialog{align-items: center;display: flex;min-height: 100%;}
.HostMeetingModal[aria-modal="true"] ~ .modal-backdrop, .JoinMeetingModal[aria-modal="true"] ~ .modal-backdrop{background-color: rgba(47,104,237,0.5);}
.HostMeetingModal .modal-dialog, .JoinMeetingModal .modal-dialog{height: 100%;margin: 0 auto;}
.HostMeetingModal .modal-content, .JoinMeetingModal .modal-content{border:transparent;border-radius: 10px;padding:55px 50px;}
.HostMeetingModal .modal-header, .JoinMeetingModal .modal-header{display: block;text-align: center;border: transparent;padding: 0;}
.HostMeetingModal .modal-header h2, .JoinMeetingModal .modal-header h2{font-size: 35px; color: #344b60;font-family: 'Poppins-SemiBold';}
.HostMeetingModal .modal-header p, .JoinMeetingModal .modal-header p{font-size: 16px;color: #628985;font-size: 16px;}
.HostMeetingModal .modal-body, .JoinMeetingModal .modal-body{text-align: center;padding:1rem 0;}
.HostMeetingModal .modal-body .form-group, .JoinMeetingModal .modal-body .form-group{margin-bottom: 1.5rem;}
.HostMeetingModal .modal-body .form-check{text-align: left;}
.HostMeetingModal .modal-body .form-check input[type="checkbox"]{margin-top: 0.25rem;}
.HostMeetingModal .modal-body .form-check label{font-size: 12px;line-height: 20px;}
.HostMeetingModal .modal-body input[type="text"], .JoinMeetingModal .modal-body .form-group input[type="text"]{border: 1px #d3e9e7 solid;border-radius: 6px; height: 56px;font-size: 16px;color: #2f68ed;}
.HostMeetingModal .modal-body input[type="text"]:focus, .JoinMeetingModal .modal-body .form-group input:focus{border: 1px #fff solid;box-shadow: 0 7px 20px 0 rgba(47,104,237,0.3);}

@media (max-width:576px){
	.TM-Login {height:auto;padding: 5% 0;}
	.TM-L-Bx .seperator {width: 100%;height: 1px;}
	.TM-L-Bx .seperator:after{left: 0;right: 0;margin: 0 auto;}
}
