.main-content.toggled {
  padding-right: 330px;
}

.RT-Sidebar {
  /*z-index: 1000;*/
  position: fixed;
  top: 0; /*right: 330px;*/
  right: 0;
  width: 330px; /*width:330px;*/
  height: calc(100% - 80px);
  margin-right: -330px;
  overflow-y: auto;
  background: #1f2125;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.main-content.toggled ~ .RT-Sidebar {
  width: 330px;
  margin-right: 0;
}

.RT-Sidebar > .nav-tabs {
  margin: 0;
  padding: 0 0 0 15px;
  display: table;
  width: 100%;
  border: transparent;
}

.RT-Sidebar > .nav-tabs > .nav-item {
  display: table-cell;
  text-align: center;
  width: 25%;
}

/*.RT-Sidebar > .nav-tabs > .nav-item:first-child{ width: 37%; }*/
.RT-Sidebar > .nav-tabs > .nav-item > a {
  background-color: transparent;
  border: transparent;
  font-family: 'Poppins-SemiBold';
  color: #a7abaf;
  padding: 0 5px;
  display: inline-block;
  position: relative;
  height: 55px;
  line-height: 55px;
  white-space: nowrap;
}

.RT-Sidebar > .nav-tabs > .nav-item > a .material-icons {
  vertical-align: middle;
  font-size: 27px;
}

.RT-Sidebar > .nav-tabs > .nav-item > .nav-link .txt {
  display: none;
}

.RT-Sidebar > .nav-tabs > .nav-item > .nav-link.active .txt {
  display: inline-block;
}

.RT-Sidebar > .nav-tabs > .nav-item > .active {
  color: #01b09c;
}

.RT-Sidebar > .nav-tabs > .nav-item > .active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #01b09c;
  border-radius: 3px;
}

.RT-Sidebar > .nav-tabs > .nav-item > .dropdown-toggle:after {
  display: none;
}

.RT-Sidebar > .tab-content {
  color: #f2f4f3;
  background-color: #2a2b2f;
  height: calc(100% - 55px);
  border-radius: 20px 20px 0 0;
  padding: 15px 0 0;
  position: relative;
}

#TM-Tab1 .pt-header .HeaderDropdown {
  top: 0;
  right: 0;
}

#TM-Tab1 .cs-btn {
  padding: 0;
  width: 30px;
  line-height: 30px;
  margin-left: auto;
  background-color: #01b09c;
  border-radius: 50%;
  color: #292b2f;
  cursor: pointer;
  text-align: center;
}

#TM-Tab1 .cs-btn .material-icons {
  line-height: 30px;
  color: #292b2f;
}

#TM-Tab1 .pt-header .rt-sd-search {
  top: 0;
  width: calc(100% - 55px);
  left: 0;
}

#TM-Tab2 > .nav-tabs {
  margin: 0 0 15px;
  padding: 0 75px 0 20px;
  display: table;
  width: 100%;
  border: transparent;
}

#TM-Tab2 > .nav-tabs > .nav-item {
  display: table-cell;
  text-align: center;
}

#TM-Tab2 > .nav-tabs > .nav-item > a {
  background-color: transparent;
  border: transparent;
  font-family: 'Poppins-SemiBold';
  color: #a7abaf;
  padding: 0 5px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  font-family: 'Poppins-Regular';
  display: block;
  background-color: #1f2125;
  border-radius: 0;
  font-size: 13px;
}

#TM-Tab2 > .nav-tabs > .nav-item > .active {
  color: #01b09c;
  background-color: #1a1b1f;
}

#TM-Tab2 > .nav-tabs > .nav-item:nth-child(1) > a {
  border-radius: 15px 0 0 15px;
}

#TM-Tab2 > .nav-tabs > .nav-item:nth-child(2) > a {
  border-radius: 0 15px 15px 0;
}

#TM-Tab2 > .nav-tabs > .nav-item > a .material-icons {
  vertical-align: text-bottom;
  font-size: 21px;
}

#TM-Tab2 {
  height: calc(100%);
}

#TM-Tab2 > .tab-content {
  height: calc(100% - 30px);
}

#TM-Tab2 > .tab-content > .tab-pane {
  padding: 0 20px 0;
  height: calc(100% - 70px);
  overflow: auto;
}

#TM-Tab2 > .tab-content > .tab-pane::-webkit-scrollbar {
  width: 8px;
}

#TM-Tab2 > .tab-content > .tab-pane::-webkit-scrollbar-track {
  background: #1f2125;
}

#TM-Tab2 > .tab-content > .tab-pane::-webkit-scrollbar-thumb {
  background: #494d51;
  border-radius: 10px;
}

#TM-Tab2 > .HeaderDropdown {
  top: 14px;
  right: 20px;
}

#TM-Tab2 .cs-btn {
  padding: 0;
  width: 30px;
  line-height: 30px;
  margin-left: auto;
  background-color: #01b09c;
  border-radius: 50%;
  color: #292b2f;
  cursor: pointer;
  text-align: center;
}

#TM-Tab2 .cs-btn .material-icons {
  line-height: 30px;
  color: #292b2f;
}

#TM-Tab2 .Unpin {
  vertical-align: middle;
  margin-right: 10px;
}


.RT-Sidebar .dropdown-menu {
  background-color: #222;
  border: 1px #444 solid;
  border-radius: 6px;
}

.RT-Sidebar .dropdown-menu .dropdown-item {
  color: #a7abaf;
  font-size: 13px;
  padding: 5px 15px;
}

.RT-Sidebar .dropdown-menu .dropdown-item .material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

.RT-Sidebar .dropdown-menu .dropdown-item.active, .RT-Sidebar .dropdown-menu .dropdown-item:active, .RT-Sidebar .dropdown-menu .dropdown-item:focus, .RT-Sidebar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


.RT-Sidebar .rt-sd-search {
  position: absolute;
  top: 15px;
  z-index: 9;
  width: calc(100% - 95px);
  background-color: #1f2125;
  border: 1px #2b3036 solid;
  left: 20px;
  height: 31px;
  border-radius: 15px;
  display: none;
}

.RT-Sidebar .rt-sd-search .form-group {
  position: relative;
}

.RT-Sidebar .rt-sd-search .form-group .material-icons {
  position: absolute;
  left: 8px;
  color: #676b6f;
  top: 5px;
}

.RT-Sidebar .rt-sd-search input {
  border: transparent;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 35px;
  font-size: 13px;
  color: #a7abaf;
}

.RT-Sidebar .rt-sd-search input::placeholder {
  color: #676b6f;
}

.RT-Sidebar .rt-sd-search.show {
  display: block;
}

.ChatContent {
  margin-right: auto;
  margin-bottom: 12px;
  display: table;
  width: calc(100% - 45px);
}

.ChatContent .ChatInfo {
  margin: 0 0 6px 0;
}

.ChatContent .ChatInfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: left;
}

.ChatContent .ChatInfo ul li:first-child {
  padding-left: 0;
  color: #67739d;
}

.ChatContent .ChatInfo ul li {
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px;
  line-height: 27px;
  vertical-align: middle;
}

.ChatContent .ChatInfo ul li:last-child {
  color: #a3a3a3;
  font-size: 11px;
}

.ChatContent .ChatText {
  width: calc(100% - 45px);
  margin-left: 45px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 10px 10px 10px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  position: relative;
}

.ChatContent .ChatText .view-sms {
  position: absolute;
  left: 103%;
  bottom: 0;
  font-size: 16px;
  color: #888c8f;
}

.ChatContent .ChatText img {
  object-fit: cover;
  width: 100%;
}

.ChatContent.align-right {
  margin-left: auto;
  margin-right: inherit;
}

.ChatContent.align-right .ChatText {
  margin-left: inherit;
  margin-right: 45px;
  background-color: #224646;
  text-align: right;
  border-radius: 10px 0 10px 10px;
}

.ChatContent.align-right .ChatInfo ul {
  text-align: right;
}

.ChatContent.align-right .ChatInfo ul li:first-child {
  color: #a3a3a3;
  font-size: 11px;
}

.ChatContent.align-right .view-sms {
  right: 103%;
  left: inherit;
}

/*.NameFirstChar {margin:0;width: 34px;min-width: 34px;vertical-align: top;height: 34px;line-height: 33px;color: #fff;text-align: center;background-color: #a8afc9;border-radius: 50%;font-size: 14px;position: relative;text-transform: uppercase;display: inline-block;}*/
.NameFirstChar {
  margin: 0;
  width: 34px;
  min-width: 34px;
  vertical-align: top;
  height: 34px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  background-color: #01b09c;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}

.NameFirstChar img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

#PrivateTabs {
  height: calc(100% - 15px) !important;
}

#PrivateTabs .nav-tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  border: transparent;
}

#PrivateTabs .nav-tabs .nav-item {
  display: block;
  width: 100%;
  position: relative;
}

#PrivateTabs .nav-tabs .nav-item a {
  background-color: transparent;
  border: transparent;
  color: #f3f3f3;
  display: block;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  padding: 10px 0;
}

#PrivateTabs .NameFirstChar {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

#PrivateTabs .tab-content {
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
}

#PrivateTabs .tab-content .tab-pane {
  height: calc(100% - 70px);
  overflow: auto;
}

#PrivateTabs .tab-content .tab-pane::-webkit-scrollbar {
  width: 8px;
}

#PrivateTabs .tab-content .tab-pane::-webkit-scrollbar-track {
  background: #1f2125;
}

#PrivateTabs .tab-content .tab-pane::-webkit-scrollbar-thumb {
  background: #494d51;
  border-radius: 10px;
}


.RT-Sidebar .HeaderDropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 0;
  list-style: none;
}

.RT-Sidebar .HeaderDropdown li.dropdown {
  padding: 0 !important
}

.RT-Sidebar .HeaderDropdown li > a {
  color: #888 !important;
}

.RT-Sidebar .HeaderDropdown .dropdown-toggle:after {
  display: none;
}

.RT-Sidebar .HeaderDropdown .dropdown-menu {
  border-radius: 6px;
  margin-top: 0 !important;
  top: -5px !important;
}

.RT-Sidebar .HeaderDropdown .dropdown-menu a {
  display: block !important;
  width: 100% !important;
  font-size: 13px !important;
  color: #a7abaf !important;
  padding: 5px 12px !important;
}

.RT-Sidebar .HeaderDropdown li > a > img {
  margin: 0 4px;
}

.RT-Sidebar .HeaderDropdown .dropdown-menu .dropdown-item.active, .HeaderDropdown .dropdown-menu .dropdown-item:active, .HeaderDropdown .dropdown-menu .dropdown-item:focus, .HeaderDropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.RT-Sidebar .HeaderDropdown li {
  display: inline-block !important;
  width: auto !important;
  font-size: 12px !important;
  color: #7c7c7c !important;
  padding: 0 5px !important;
}

.RT-Sidebar .HeaderDropdown i {
  font-size: 23px !important;
  color: #999;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#TM-Tab1 {
  padding: 0 20px;
  height: calc(100% - 15px) !important;
  overflow-x: hidden;
  overflow-y: auto;
}

#TM-Tab1::-webkit-scrollbar {
  width: 8px;
}

#TM-Tab1::-webkit-scrollbar-track {
  background: #1f2125;
}

#TM-Tab1::-webkit-scrollbar-thumb {
  background: #494d51;
  border-radius: 10px;
}

#TM-Tab1 > .nav-tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  border: transparent;
}

#TM-Tab1 > .nav-tabs > .nav-item {
  display: block;
  width: 100%;
  position: relative;
  padding-right: 85px;
}

#TM-Tab1 > .nav-tabs > .nav-item a {
  background-color: transparent;
  border: transparent;
  color: #f3f3f3;
  display: block;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  padding: 10px 0;
  text-align: left;
  height: auto;
  width: auto;
  line-height: normal;
}

#TM-Tab1 > .nav-tabs > .nav-item:last-child {
  padding-left: 0;
}

#TM-Tab1 .NameFirstChar {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

#TM-Tab1 .Unpin {
  vertical-align: middle;
  margin-right: 10px;
}

.pt-header {
  padding: 0;
  position: sticky;
  background: #2a2b2f;
  top: 0;
  z-index: 9;
  min-height: 50px;
}

.pt-header h4 {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Poppins-Medium';
  color: #f2f2f2;
  margin-bottom: 5px;
  cursor: pointer;
}

.pt-header p {
  font-size: 14px;
  color: #989ea3;
  white-space: nowrap;
  padding-right: 10px;
  margin: 0;
}

#TM-Tab3 {
  padding: 0 20px;
  overflow: auto;
  height: 100%;
}

#TM-Tab3::-webkit-scrollbar {
  width: 8px;
}

#TM-Tab3::-webkit-scrollbar-track {
  background: #1f2125;
}

#TM-Tab3::-webkit-scrollbar-thumb {
  background: #494d51;
  border-radius: 10px;
}

#TM-Tab3 .tab-pane-header {
  border-bottom: 1px #494b4e solid;
  padding: 15px 0 20px;
}

#TM-Tab3 .tab-pane-header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins-Medium';
  font-weight: normal;
}

#TM-Tab3 .tab-pane-header p {
  margin: 0;
  padding: 0;
  color: #c8c9c9;
  font-size: 13px;
}

#TM-Tab3 .tab-pane-header .list-group {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: left;
  width: 100%;
}

#TM-Tab3 .tab-pane-header .list-group li {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

#TM-Tab3 .tab-pane-header .list-group li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  background-color: #605ca8;
  color: #fff;
  margin-left: -5px;
}

#TM-Tab3 .tab-pane-header .list-group li a .material-icons {
  vertical-align: middle;
}

#TM-Tab3 .tab-pane-header .list-group li:last-child a {
  background-color: #01b09c;
}

#TM-Tab3 .tab-pane-body {
  padding: 20px 0;
}

#TM-Tab3 .tab-pane-body table {
  margin: 0;
  width: 100%;
}

#TM-Tab3 .tab-pane-body table tr td {
  word-break: break-all;
  padding: 10px 0;
  vertical-align: top;
}

#TM-Tab3 .tab-pane-body table tr td:first-child {
  color: #aaa;
  width: 40%;
}

#TM-Tab3 .tab-pane-body table tr td:last-child {
  width: 60%;
}

#TM-Tab3 .btn-group {
  width: 100%;
}

#TM-Tab3 .btn-group .btn {
  margin: 0;
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  padding: 0 20px;
  width: 100%;
  font-size: 16px;
  border: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

#TM-Tab3 .btn-group .btn-secondary {
  border: transparent;
  background-color: transparent;
  color: #c8c9c9 !important;
}

#TM-Tab3 .btn-group .btn-secondary .material-icons {
  margin-right: 5px;
}

.InviteParticipantModal, .IP-Modal {
  backdrop-filter: blur(0.1em) !important;
  color: #989ea3;
}

.InviteParticipantModal .modal-dialog, .IP-Modal .modal-dialog {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  min-height: 100%;
  max-width: 600px;
}

.InviteParticipantModal[aria-modal="true"] ~ .modal-backdrop, .IP-Modal[aria-modal="true"] ~ .modal-backdrop {
  background-color: rgba(15, 29, 50, 0.9);
}

.InviteParticipantModal .modal-header, .InviteParticipantModal .modal-footer, .IP-Modal .modal-header, .IP-Modal .modal-footer {
  background: #292b2f;
  border: transparent;
  flex-direction: column;
}

.InviteParticipantModal .modal-header, .IP-Modal .modal-header {
  padding-left: 55px;
  position: relative;
}

.InviteParticipantModal .modal-header h4, .InviteParticipantModal .modal-header ul, .IP-Modal .modal-header h4, .IP-Modal .modal-header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InviteParticipantModal .modal-header h4, .IP-Modal .modal-header h4 {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Poppins-Medium';
  color: #f2f2f2;
}

.InviteParticipantModal .modal-header h4 .material-icons, .IP-Modal .modal-header h4 .material-icons {
  position: absolute;
  left: 20px;
}

.InviteParticipantModal .modal-header p, .IP-Modal .modal-header p {
  margin: 0;
  padding: 0;
}

.InviteParticipantModal .modal-header p span, .IP-Modal .modal-header p span {
  font-size: 13px;
  color: #989ea3;
  white-space: nowrap;
  padding-right: 10px;
}

.InviteParticipantModal .modal-header p span:first-child:before, .IP-Modal .modal-header p span:first-child:before {
  display: none;
}

.InviteParticipantModal .modal-header p span:before, .IP-Modal .modal-header p span:before {
  content: "|";
  padding-right: 10px;
}

.InviteParticipantModal .modal-header .close, .IP-Modal .modal-header .close {
  position: absolute;
  top: 15px;
  right: 20px;
  text-shadow: inherit;
  color: #898f94;
  opacity: inherit;
  cursor: pointer;
}

.InviteParticipantModal .modal-content, .IP-Modal .modal-content {
  border: transparent;
}

.InviteParticipantModal .modal-body, .IP-Modal .modal-body {
  background: #1f2125;
  padding: 10px 30px;
}

.InviteParticipantModal .modal-body .col-4 {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

.InviteParticipantModal .modal-body a {
  display: block;
  padding: 12px;
}

.InviteParticipantModal .modal-body .bg-icon {
  margin: 0 auto 15px;
  background: #292b2f;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
}

.InviteParticipantModal .modal-body .bg-icon .checked {
  display: none;
  position: absolute;
  top: 0;
  right: 12px;
  color: #01b09c;
}

.InviteParticipantModal .modal-body .icon-name {
  font-size: 14px;
  color: #a7abaf;
  white-space: nowrap;
  margin: 0;
}

.InviteParticipantModal .modal-body a.active {
  border: 1px #01b09c solid;
  border-radius: 3px;
}

.InviteParticipantModal .modal-body a.active .bg-icon .checked {
  display: block;
}

.InviteParticipantModal .modal-footer, .IP-Modal .modal-footer {
  padding: 20px 15px;
}

.InviteParticipantModal .modal-footer .list-group, .IP-Modal .modal-footer .list-group {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  display: table;
}

.InviteParticipantModal .modal-footer .list-group li, .IP-Modal .modal-footer .list-group li {
  display: table-cell;
  vertical-align: middle;
  color: #01b09c;
}

.InviteParticipantModal .modal-footer .list-group li:first-child a span, .IP-Modal .modal-footer .list-group li:first-child a span {
  color: #98a0a4;
}

.InviteParticipantModal .modal-footer .list-group li:last-child, .IP-Modal .modal-footer .list-group li:last-child {
  width: 100px;
}

.InviteParticipantModal .modal-footer .btn-primary, .IP-Modal .modal-footer .btn-primary {
  margin-top: 0;
}

.IP-Modal .modal-header {
  padding-bottom: 0;
}

.IP-Modal .modal-header .nav-tabs {
  flex-direction: unset;
  border: transparent;
  margin-left: -35px;
}

.IP-Modal .modal-header .nav-tabs .nav-item {
  padding: 0 15px;
}

.IP-Modal .modal-header .nav-tabs .nav-item:first-child {
  padding-left: 0;
}

.IP-Modal .modal-header .nav-tabs .nav-item:last-child {
  padding-right: 0;
}

.IP-Modal .modal-header .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border: transparent;
  color: #a7abaf;
  padding: 15px 5px;
}

.IP-Modal .modal-header .nav-tabs .nav-item .active {
  color: #01b09c;
  position: relative;
}

.IP-Modal .modal-header .nav-tabs .nav-item .active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #01b09c;
}

.IP-Modal .modal-header .nav-tabs .nav-item .nav-link .material-icons {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #1f2125;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 10px;
}

#InvitByEmail {
  padding: 50px 0;
}

#InvitByEmail .col-4 a {
  margin: 0 auto;
  padding: 25px 20px;
  width: 130px;
  height: 130px;
  display: block;
  text-align: center;
  border-radius: 6px;
  background-color: #292b2f;
  position: relative;
}

#InvitByEmail .col-4 a.active {
  border: 1px #01b09c solid;
}

#InvitByEmail .col-4 a .checked {
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
  color: #01b09c;
}

#InvitByEmail .col-4 a.active .checked {
  display: block;
}

#InvitByEmail .col-4 a img {
  margin-bottom: 15px;
}

#InvitByEmail .col-4 label {
  white-space: nowrap;
  display: block;
  width: 100%;
  color: #a7abaf;
}

#InvitByContact {
  padding: 20px 0;
}

#InvitByContact .form-group {
  position: relative;
}

#InvitByContact .form-group input {
  width: 100%;
  margin: 0;
  padding-left: 20px;
  box-sizing: border-box;
  color: #898f94;
  height: 40px;
  border-radius: 40px;
  background-color: #292b2f;
  border: transparent;
}

#InvitByContact .form-group button {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: transparent;
}

#InvitByContact .form-group button .material-icons {
  color: #898f94;
}

.c-list {
  margin: 0;
  padding: 0;
  border: none;
}

.c-list li {
  display: block;
  top: 0;
  position: relative;
}

.c-list > li > a {
  padding: 10px 0 5px;
  width: 100%;
  display: block;
  text-align: left;
}

.c-list > li:last-child a {
  padding-bottom: 0;
}

.c-list > li > a .c-txt {
  margin: 0;
  padding: 0;
  line-height: 24px;
  display: inline-block;
}

.c-list .NameFirstChar {
  margin-right: 12px;
}

.c-list > li > a .c-txt h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  color: #f2f2f2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-list > li > a .c-txt .mail-id {
  margin: 0;
  font-size: 12px;
  color: #63666a !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.c-list > li > a:after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}


.ChatFooter {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  background-color: #202125;
  border: 1px #2b3036 solid;
  border-radius: 20px;
  z-index: 99;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.ChatFooter .ChatTxtBx {
  position: relative;
  padding: 0 15px;
}

.ChatFooter .ChatTxtBx input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: calc(100% - 65px);
  display: block;
  height: 39px;
  line-height: 39px;
  font-size: 13px;
  color: #a7abaf;
}

.ChatFooter .ChatTxtBx input::placeholder {
  color: #676b6f;
}

.ChatFooter .ChatTxtBx button {
  margin: 0;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: #01b09c;
  border: none;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  text-align: center;
}

.ChatFooter .ChatTxtBx button .material-icons {
  line-height: normal;
  position: relative;
  top: -1px;
  right: -1px;
  vertical-align: middle;
  color: #fff;
  font-size: 18px;
}

.ChatFooter .ChatTxtBx ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 46px;
  top: 5px;
}

.ChatFooter .ChatTxtBx ul li {
  display: table-cell;
}

.ChatFooter .ChatTxtBx ul li a {
  display: block;
  line-height: 25px;
  padding: 0;
  width: 28px;
  height: 28px;
  background: #383a3e;
  border-radius: 15px;
  text-align: center;
}

.ChatFooter .ChatTxtBx ul li a .material-icons {
  vertical-align: middle;
  color: #c2c3c3;
}

.ChatFooter .dropdown-toggle:after {
  display: none;
}

.ChatFooter .our-attachment {
  position: absolute;
  background-color: #1f2125;
  min-width: 18rem;
  margin: 0 auto;
  left: -10px !important;
  padding: 20px;
  border-radius: 10px;
}

.ChatFooter .our-attachment .attachment-bx {
  background-color: #383a3e;
  border: 1px #94989c dotted;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
}

.ChatFooter .our-attachment .attachment-bx img {
  margin: 0 auto 20px;
}

.ChatFooter .our-attachment .attachment-bx label {
  color: #01b09c;
  display: inline-block !important;
  width: inherit !important;
  cursor: pointer;
}

.ChatFooter .our-attachment .attachment-bx h6 {
  font-size: 13px;
  color: #a7abaf;
  margin-bottom: 6px;
}

.ChatFooter .our-attachment .attachment-bx p {
  color: #707377;
  font-size: 12px;
  margin: 0;
}



