@import url('login.css');
@import url('header.css');
@import url('sidebar.css');
@import url('footer.css');

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
  url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
  url('../fonts/Poppins-SemiBold.woff') format('woff'),
  url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'),
  url('../fonts/Poppins-Medium.ttf') format('truetype'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container-padding {
  padding: 0 100px;
}

.no-padding {
  padding: 0 !important;
}

.bg-red {
  background-color: #ff1228;
}

.bg-dark {
  background-color: #18191c;
}

.bg-green {
  background-color: #01b09c;
}

.button-circle {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

/*=====button=======*/
.button-lg {
  width: 230px;
  height: 52px;
  border-radius: 50px;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Regular';
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.material-icons {
  font-size: 21px;
  vertical-align: middle;
}

.Dark-background {
  background: #242529;
}

.icon-red-badge {
  background: #ff1228;
  padding: 3px 3px;
  color: #fff;
  border-radius: 39px;
  font-size: 20px !important;
  position: absolute;
  top: 23%;
  left: 65%;
}

.icon-green-badge {
  background: #01b09c;
  padding: 3px 3px;
  color: #fff;
  border-radius: 39px;
  font-size: 20px !important;
  position: absolute;
  top: 23%;
  left: 65%;
}


/* Font color*/
.color-green {
  color: #01b09c;
}

.bg-green-light {
  background-color: #f3fdfc;
}

/* Weight Class*/
.font-w100 {
  font-weight: 100;
}

.font-w200 {
  font-weight: 200;
}

.font-w300 {
  font-weight: 300;
}

.font-w400 {
  font-weight: 400;
}

.font-w500 {
  font-weight: 500;
}

.font-w600 {
  font-weight: 600;
}

.font-w700 {
  font-weight: 700;
}

a {
  color: #2f68ed;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: #2f68ed;
  outline: none;
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
}

.btn-bg {
  background-color: #01b09c !important;
  color: #fff !important;
}

.btn-primary {
  background-color: transparent;
  border: 1px #01b09c solid !important;
  color: #01b09c;
  height: 42px !important;
  line-height: 42px !important;
  padding: 0 1.5rem !important;
}

.btn-primary:hover, .btn-primary:focus {
  background: #01b09c !important;
  color: #fff !important;
  border: 1px #01b09c solid !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  opacity: 0.95;
}

.btn-outline-primary {
  border: 1px #01b09c solid !important;
  color: #01b09c;
  height: 42px !important;
  line-height: 42px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background: transparent !important;
  color: #01b09c !important;
  border: 1px #01b09c solid !important;
  box-shadow: none !important;
}

.btn-outline-primary:hover {
  opacity: 0.95;
}


.main-content {
  position: relative;
  top: 0;
  height: calc(100% - 80px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.LiveVideo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2a2b2f;
}

.LiveVideo img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.vc-top-nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 999
}

.main-content.toggled .vc-top-nav {
  width: calc(100% - 330px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.vc-top-nav .vc-timer {
  width: auto;
  min-width: 75px;
  height: 28px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 12px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
}

.vc-top-nav .h-m-s {
  min-width: 95px !important;
}


.vc-top-nav .list-group {
  margin-left: auto;
  display: table;
  padding: 0;
  list-style: none;
  text-align: center;
}

.vc-top-nav .list-group li {
  display: block;
  display: inline-block;
}

.vc-top-nav .list-group li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 37px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px rgba(255, 255, 255, 0.3) solid;
  margin-left: 15px;
}

.vc-top-nav .list-group li a .material-icons {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.9);
}

.vc-top-nav .list-group li .close-icon .material-icons {
  color: #1f2125;
}

.vc-btm-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 15px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content.toggled .vc-btm-nav {
  width: calc(100% - 330px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.vc-btm-nav .list-group {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  text-align: left;
}

.vc-btm-nav .list-group li {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.vc-btm-nav .list-group li a .material-icons {
  vertical-align: middle;
}

.vc-btm-nav .col-6:first-child .list-group li {
  margin-right: 12px;
}

.vc-btm-nav .col-6:first-child .list-group li a {
  color: #fff;
}

.vc-btm-nav .col-6:first-child .list-group li .dropdown-menu a {
  color: #212529;
}

.vc-btm-nav .col-6:first-child .list-group li .dropdown-toggle:after {
  display: none;
}

.vc-btm-nav .col-6 + .col-6 .list-group {
  margin-left: auto;
}

.vc-btm-nav .col-6 + .col-6 .list-group li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  background-color: #605ca8;
  color: #fff;
  margin-left: 12px;
}

.vc-btm-nav .col-6 + .col-6 .list-group li:last-child a {
  background-color: #01b09c;
}


.dark-modal .modal-dialog {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  min-height: 100%;
}

.dark-modal .modal-content {
  background: #1f2125;
  border-radius: .5rem;
}

.dark-modal .modal-header { /*background: #1f2125;*/
  color: #f2f2f2;
  border: transparent;
  flex-direction: column;
  position: relative;
  padding: 1rem 2.5rem 1rem 1rem;
}

.dark-modal .modal-footer { /*background: #1f2125;*/
  color: #f2f2f2;
  border: transparent;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}

.dark-modal .modal-header h1, .dark-modal .modal-header h2, .dark-modal .modal-header h3, .dark-modal .modal-header h4, .dark-modal .modal-header h5, .dark-modal .modal-header h6 {
  font-size: 16px;
  font-family: 'Poppins-Medium';
  color: #f2f2f2;
}

.dark-modal .modal-header .close {
  text-shadow: none;
  color: #898f94;
  opacity: inherit;
  position: absolute;
  right: 25px;
  top: 28px;
  padding: 0;
}

.dark-modal .modal-body { /*background: #1f2125;*/
  color: #a7abaf;
  padding: 1rem 0.9rem;
  font-size: 14px;
}

.dark-modal .modal-body h1, .dark-modal .modal-body h2, .dark-modal .modal-body h3, .dark-modal .modal-body h4, .dark-modal .modal-body h5, .dark-modal .modal-body h6 {
  font-family: 'Poppins-SemiBold';
}

.dark-modal select {
  border: transparent;
  height: 28px;
  line-height: 28px;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 5px;
  color: #a9adb1;
  font-size: 13px;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/arrow_down.svg) no-repeat right 5px center #292b2f;
}

.dark-modal select option:checked {
  background-color: #1f2125;
}

.dark-modal select option:not(:checked) {
  background-color: #1f2125;
}

.dark-modal .mt-4 {
  margin-top: 2rem !important;
}

.dark-modal .mb-4 {
  margin-bottom: 2rem !important;
}

.dark-modal .progress {
  background-color: #3f4145;
  height: 7px;
  margin-top: 12px;
}

.dark-modal .progress-bar {
  background-color: #696c70;
}

.dark-hr {
  border-top: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.VideoBx {
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.VideoBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.custom-checkbox .custom-control-label {
  line-height: 1.5rem;
}

.custom-control-label::before {
  background-color: transparent;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #135c56;
  background-color: #135c56;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.valume-bx {
  width: 100%;
  height: 25px;
  position: relative;
  margin: 0 auto;
  top: 12px;
}

.valume-bx .material-icons {
  position: absolute;
  margin-top: -9px;
  color: #666;
}

.valume-bx .volume_off {
  margin-left: -20px;
}

.valume-bx .volume_up {
  margin-right: -20px;
  right: 0;
}

.volume {
  position: absolute;
  left: 0;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background: #174946;
  border-radius: 15px;
}

.volume .ui-slider-range-min {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #01b09c;
  border: none;
  border-radius: 10px;
  outline: none;
}

.volume .ui-slider-handle {
  width: 6px;
  height: 18px;
  background: #01b09c;
  border-radius: 50px;
  position: absolute;
  margin-left: 0;
  margin-top: -7px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card-box {
  position: absolute;
  bottom: 65px;
  left: 15px;
  background: #202125 !important;
  display: none;
}

.card-box .card-body {
  color: #a3a7aa;
  padding: 0.65rem 1rem;
  font-size: 14px;
}

.card-box .card-body .icon {
  background-color: #1b1c20;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 31px;
}

.card-box .close {
  text-decoration: none;
  text-shadow: none;
  color: #a3a7aa;
  opacity: inherit;
}

.card-box .close .material-icons {
  font-size: 21px;
  vertical-align: top;
  line-height: 50px;
}

.NameBox {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  min-height: 100%;
}

.NameBox .NameFirstChar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background-color: #00b09c;
  color: #fff;
  font-size: 50px;
  font-family: 'Poppins-Medium';
}

.NameBox .NameFirstChar {
  -webkit-transition: height .25s ease, width .25s ease;
  transition: height .25s ease, width .25s ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0, -50%);
}

.NameBox .NameFirstChar:before, .NameBox .NameFirstChar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #01b09c;
}

.NameBox .NameFirstChar:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

.NameBox .NameFirstChar:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.modal .NameBox .NameFirstChar {
  width: 60px;
  height: 60px;
  line-height: 60px;
  transform: translate(0, 0);
}

.modal .NameBox .NameFirstChar .material-icons {
  font-size: 37px;
  vertical-align: text-top;
  line-height: inherit;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}


.modal .modal-dialog {
  animation: opt-animation3 .3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes opt-animation3 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes opt-animation3 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes opt-animation3 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opt-animation3 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* Security*/

.security .title-heading {
  color: #f2f2f2;
  font-size: 18px;
}

.security .title-heading img {
  margin-right: 10px;
}

.security .title-heading small {
  margin-top: 9px;
  font-size: 11px;
  color: #95999d;
  margin-left: 29px;
  display: block;
}

.security .modal-dialog {
  max-width: 570px;
  width: 100%;
}

.security ul {
  margin: 21px 30px;
  padding: 0;
  float: left;
  width: auto;
}

.security ul .switch {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.security ul li {
  list-style: none;
  float: left;
  width: 100%;
}

.security .switch-primary {
  float: right;
}

.security ul .switch + .switch-body {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.security ul .switch + .switch-body:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 100px;
  top: auto;
}

.security ul .switch + .switch-body + .switch-text {
  display: inline-block;
  padding-top: 5px;
}

.security ul .switch.switch-bootstrap + .switch-body:before {
  background-color: #2d2f33;
  width: 55px;
  height: 26px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.security ul .switch.switch-bootstrap + .switch-body:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 4px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #a7abaf;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.security ul .switch.switch-bootstrap:checked + .switch-body:after {
  left: 32px;
  background-color: #01b09c;
  border: 0;
}

.security ul .switch-primary > .switch.switch-bootstrap:checked + .switch-body::before {
  background-color: #2d2f33;
}

.security ul .switch.switch-bootstrap:checked .switch-text {
  color: #333;
}

.security {
  float: left;
  width: 100%;
  border-bottom: 1px solid #3a3d41;
}

.modal-body .security + .security {
  border-bottom: 0;
}

.security .btn-primary {
  background: #01b09c;
  padding: 0 45px !important;
  color: #fff;
}

.security .btn-secondary {
  color: #a7abaf;
  background: none;
  border: 0;
}

.security .btn-secondary:focus {
  box-shadow: none;
}

.security .modal-header a.close {
  color: #040505;
  font-size: 31px;
}


/* Security*/

.change-layout .layout-title .title-heading {
  color: #f2f2f2;
  font-size: 18px;
}

.change-layout .layout-title .title-heading img {
  margin-right: 10px;
}

.change-layout .layout-title .title-heading small {
  margin-top: 9px;
  font-size: 11px;
  color: #95999d;
  margin-left: 32px;
  display: block;
}

.change-layout .modal-dialog {
  max-width: 570px;
  width: 100%;
}

.change-layout .layout-status {
  position: relative;
  width: 160px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: #a7abaf;
  background: #3f4247;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-left: 34px;
}

.change-layout .layout-status img {
  float: left;
  position: absolute;
  left: 12px;
  top: 8px;
}

.change-layout .btn-primary {
  background: #01b09c;
  padding: 0 45px !important;
  color: #fff;
}

.change-layout .btn-secondary {
  color: #a7abaf;
  background: none;
  border: 0;
}

.change-layout .btn-secondary:focus {
  box-shadow: none;
}

.change-layout .modal-header a.close {
  color: #040505;
  font-size: 31px;
}

.select-layout .col-6 a {
  display: block;
}

.select-layout .col-6 {
  padding: 17px 35px 0;
}

.select-layout .col-6 a.active {
  border: 1px #01b09c solid;
  border-radius: 3px;
}

.change-layout .layout-title {
  border-bottom: 1px solid #3f4247;
}

.select-layout .layout-img {
  width: 160px;
  height: 132px;
  margin: 15px auto 0px;
}

.select-layout .layout-name {
  text-align: left;
  margin-top: 8px;
  font-size: 15px;
}

.select-layout .layout-img .checked {
  position: absolute;
  top: 27px;
  right: 50px;
  color: #01b09c;
}

.TM-Footer .CallEndBtn + .dropdown-menu {
  bottom: 111%;
  top: inherit !important;
  left: inherit !important;
  right: 15px;
  bottom: 111%;
  transform: inherit !important;
}


.copied {
  position: relative;
}

.copied:after {
  content: 'Copied';
  position: absolute;
  left: 50%;
  bottom: calc(100% + 10px);
  font-size: 12px;
  width: 60px;
  height: 29px;
  line-height: 28px;
  background-color: #111;
  text-align: center;
  transform: translateX(-50%);
  color: #ccc;
  border-radius: 3px;
  z-index: 9;
  font-family: 'Poppins-Medium';
  font-style: normal;
}

.copied:before {
  content: '';
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #111;
  margin: 0 auto;
  z-index: 99;
}

.leave-feedback .heading-text {
  line-height: 17px;
}

.leave-feedback .heading-text h2 {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.leave-feedback .heading-text p {
  font-size: 12px;
  line-height: 20px;
}

.leave-feedback .col-12 textarea {
  background: #292b2f;
  color: #a7abaf;
  height: 98px;
  padding: 10px 6px;
  width: 93%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.leave-feedback input[type="checkbox"] {
  text-align: left;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 17px;
}

.leave-feedback .click-box {
  background: #292b2f;
  color: #a7abaf;
  height: 208px;
  padding: 10px 6px;
  width: 100%;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leave-feedback .click-box img {
  width: 89px;
  margin-bottom: 4px;
}

.leave-feedback .pd-10 {
  padding: 0 30px;
}

.leave-feedback .privacy {
  font-size: 12px;
  padding: 11px 54px;
}

.leave-feedback .btn-design .btn-secondary {
  background: none;
  background: none;
  padding: 8px 21px;
  font-weight: 0;
}

.muted {
  position: relative;
}

.muted:after {
  content: 'Your microphone is muted.';
  position: absolute;
  left: 50%;
  bottom: 125%;
  font-size: 12px;
  padding: 12px 15px 12px 40px;
  white-space: nowrap;
  background: url(../images/microphone-muted.svg) no-repeat left 12px center #202125;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  text-align: center;
  transform: translateX(-50%);
  color: #9b9ea3;
  border-radius: 3px;
  z-index: 9;
}

/*.muted:before{content: '';position: absolute;bottom: 100%;left: 50%;transform: translateX(-50%);height: 0;border-left: 6px solid transparent;border-right: 5px solid transparent;border-top: 6px solid #111;margin: 0 auto;z-index: 99;}*/

.bg_dark {
  background-color: #202125;
  border: 1px rgba(255, 255, 255, 0.05) solid;
}

.bg_dark .dropdown-item {
  color: #9b9ea3;
  font-size: 13px;
  padding: 5px 15px;
}

.bg_dark .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #9b9ea3;
}


.mute {
  position: relative;
}

.mute:after {
  content: 'You have been muted.';
  position: absolute;
  left: 50%;
  bottom: 125%;
  font-size: 12px;
  padding: 12px 15px 12px 40px;
  white-space: nowrap;
  background: url(../images/info.svg) no-repeat left 12px center #202125;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  text-align: center;
  transform: translateX(-50%);
  color: #9b9ea3;
  border-radius: 3px;
  z-index: 9;
}

.unmute {
  position: relative;
}

.unmute:after {
  content: 'You have been unmuted.';
  position: absolute;
  left: 50%;
  bottom: 125%;
  font-size: 12px;
  padding: 12px 15px 12px 40px;
  white-space: nowrap;
  background: url(../images/info.svg) no-repeat left 12px center #202125;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  text-align: center;
  transform: translateX(-50%);
  color: #9b9ea3;
  border-radius: 3px;
  z-index: 9;
}

.coming-soon {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}

.coming-soon .coming-soon-bx {
  margin: 0 auto;
  display: table;
}

.coming-soon .coming-soon-bx h6 {
  text-align: center;
  font-size: 15px;
}

#bars {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.notify {
  position: relative;
}

.notify:after {
  content: attr(data-content);
  position: absolute;
  left: 50%;
  bottom: 125%;
  font-size: 12px;
  padding: 12px 15px 12px 40px;
  white-space: nowrap;
  background: url(../images/info.svg) no-repeat left 12px center #202125;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  text-align: center;
  transform: translateX(-50%);
  color: #9b9ea3;
  border-radius: 3px;
  z-index: 9;
}

.tm-title-bx{display: flex;justify-content: center;}
.tm-title{min-height: 28px;text-align: center;font-size: 14px;border-radius: 20px;/*background-color:rgba(255,255,255,0.15);*/color:rgba(255, 255, 255, 0.9);padding: 0 12px;/*border: 1px rgba(255,255,255,0.2) solid;*/padding: 5px 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-transform: uppercase;}

