.FooterNav {
  margin: 0;
  padding: 0;
}

.FooterNav .navbar-nav {
  margin: 0 auto !important;
  padding: 0;
  list-style: none;
  display: table;
}

.FooterNav .navbar-nav > .nav-item {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.FooterNav .navbar-nav > .nav-item > .nav-link {
  display: block;
  white-space: nowrap;
  height: 80px;
  line-height: 80px;
  padding: 0 25px;
}

/*.FooterNav .navbar-nav > .nav-item > .nav-link.active, .tm-vc-nav > .nav-item > .nav-link:focus {
  background-color: #26282c;
}

.FooterNav .navbar-nav > .nav-item > .nav-link.active + .DD-Arrow {
  background-color: rgba(255, 255, 255, 0.1);
  color: #9b9ea3;
}*/

/*.FooterNav .navbar-nav > .nav-item > .nav-link.active .material-icons {
  color: #01b09c;
}*/


.FooterNav .navbar-nav > .nav-item > .nav-link .material-icons {
  color: #9b9ea3;
  font-size: 31px;
  vertical-align: middle;
  position: relative;
}

.FooterNav .navbar-nav > .nav-item > .nav-link:hover {
  background-color: #26282c;
}

.FooterNav .navbar-nav > .nav-item > .nav-link:hover > .material-icons {
  color: #01b09c;
}

.FooterNav .navbar-nav > .nav-item > .nav-link:hover > .grey {
  color: #9b9ea3;
}

.FooterNav .navbar-nav > .nav-item > .nav-link:hover + .DD-Arrow {
  background-color: rgba(255, 255, 255, 0.1);
  color: #9b9ea3;
}

.FooterNav .navbar-nav > .nav-item > .nav-link > .green {
  color: #01b09c;
}

.FooterNav .navbar-nav > .nav-item > .nav-link > .gray {
  color: #9b9ea3;
}


.FooterNav .navbar-nav > .nav-item > .nav-link .u-count, .FooterNav .navbar-nav > .nav-item > .nav-link .m-count {
  position: absolute;
  width: 19px;
  height: 19px;
  line-height: 19px;
  background-color: #00b19b;
  border-radius: 10px;
  font-size: 11px;
  color: #111;
  font-family: 'Poppins-SemiBold';
  text-align: center;
  top: 18px;
  right: 11px;
}

.FooterNav .navbar-nav > li > .dropdown-menu {
  top: inherit !important;
  bottom: 111%;
  transform: inherit !important;
  background-color: #202125;
  /*border: transparent;*/
  border: 1px rgba(255, 255, 255, 0.05) solid;
}

.FooterNav .navbar-nav .dropdown-toggle::after {
  display: none;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-item {
  padding: 0;
  display: block;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-item {
  padding: .25rem 1rem;
  display: block;
  font-size: 13px;
  color: #9b9ea3;
}

.FooterNav .navbar-nav .dropdown-menu .material-icons {
  font-size: 21px;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu {
  position: relative !important;
  border: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu .dropdown-item {
  padding-left: 50px;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu:after {
  display: none;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu .dropdown-item {
  padding-left: 50px;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu .active a, .FooterNav .navbar-nav .dropdown-menu .dropdown-menu .active .material-icons {
  color: #01b09c;
}

.FooterNav .navbar-nav .dropdown-menu .dropdown-menu .dropdown-item .material-icons {
  font-size: 19px;
  vertical-align: text-bottom;
}

/*.FooterNav .navbar-nav .dropdown-menu .dropdown-item.active, .FooterNav .navbar-nav .dropdown-menu .dropdown-item:active, .tm-vc-nav .dropdown-menu .dropdown-item:focus, .FooterNav .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
}*/


.FooterNav .navbar-nav .dropdown-item:focus, .FooterNav .navbar-nav .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/*.FooterNav .navbar-nav .dropdown-item:hover {background-color: rgba(0, 0, 0, 0.25);}*/

.DD-Arrow {
  position: absolute;
  top: 50%;
  right: 4px;
  padding: 0;
  transform: translateY(-50%);
  border-radius: 3px;
  cursor: pointer;
  color: #9b9ea3;
}

.DD-Arrow:hover {
  color: #9b9ea3;
  background-color: rgba(255, 255, 255, 0.1);
}

.DD-Arrow:focus {
  /*background-color: rgba(255, 255, 255, 0.1);*/
  color: #9b9ea3;
}

.DD-Arrow:after {
  display: none;
}

.DD-Arrow .material-icons {
  font-size: 19px;
  vertical-align: text-top;
}

.DD-Arrow + .dropdown-menu {
  left: 75% !important;
}

#local-video {
  max-height: 80px;
  width: auto;
  vertical-align: top;
}

.vc-timer {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #acabb3;
  display: block;
  color: #fff;
}

.cur-p {
  cursor: pointer;
}

.video-alt {
  position: absolute;
  font-size: 40px !important;
  width: 80px !important;
  min-width: 80px !important;
  height: 80px !important;
  line-height: 80px !important;
}

.video-alt-sm {
  position: absolute;
  font-size: 20px !important;
  width: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.local-video-alt {
  position: absolute;
  font-size: 20px !important;
  width: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.ripple-it {
  -webkit-transition: height .25s ease, width .25s ease;
  transition: height .25s ease, width .25s ease;
}

.ripple-it:before, .ripple-it:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #01b09c;
}

.ripple-it:before {
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

.ripple-it:after {
  -webkit-animation: ripple 0.5s linear 1s infinite;
  animation: ripple 0.5s linear 1s infinite;
}

.color-white {
  color: white;
}

#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  /*     background: black; */
}

.bar {
  background: #2f68ed;
  bottom: 1px;
  height: 3px;
  width: 4px;
  margin: 0px 0px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 220ms;
}

.bar:nth-child(2) {
  left: 15px;
  animation-duration: 280ms;
}

.bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}


.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #01b09c;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}

.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}


.circle {
  border: 3px solid #3bc9db;
  width: 200px;
  height: 200px;
  /*box-shadow:0px 0px 10px #3bc9db;*/
  /*Uncomment to create a nice effect ;) */
  border-radius: 100px;
}

.rectangle {
  background-color: #242529;
  width: 230px;
  height: 140px;
  position: relative;
  top: -172px;
  -webkit-animation: spin 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#text {
  color: white;
  font-family: Arial;
  font-size: 20px;
  position: relative;
  top: -255px;
}

.video-thumb {
  height: 104px;
}

.video-active {
  height: 460px;
}

.back-blue {
  background-color: #344a5f;
}
