html, body {
  height: 100%;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../../fonts/Poppins-SemiBold.eot');
  src: url('../../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
  url('../../fonts/Poppins-SemiBold.ttf') format('truetype'),
  url('../../fonts/Poppins-SemiBold.woff') format('woff'),
  url('../../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #009988;
  text-decoration: none !important;
}

.bg-navy-blue {
  background: #53627f;
}

.color-blue {
  color: #2f68ed;
}

.bg-blue {
  background: #2f68ed !important;
}

.btn-blue {
  background: #2f68ed;
}

.bg-green-l {
  background-color: #23bd5d;
}

a:hover, a:focus {
  color: #009988;
}

.btn-primary {
  margin: 0;
  line-height: 48px;
  white-space: nowrap;
  padding: 0;
  font-size: 16px;
  border: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus {
  border: transparent !important;
  box-shadow: none !important;
  background: #01b09c !important;
  color: #fff;
}

.btn-primary:hover {
  opacity: 0.95;
}

.checkAV {
  width: 100%;
  height: 100%;
  background-color: #e9eef9;
}

.box-padding {
  padding: 47px 0 29px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-etweem;
  flex-direction: column;
}

.checkAV .Testing-Frame {
  display: inline-block;
  border-radius: 8px;
  text-align: center;
}

.checkAV .Testing-Frame .white-box {
  overflow: hidden;
  background-color: #fff;
  margin: 0 15px;
  width: 100%;
  height: 100%;
  width: 255px;
  height: 270px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.checkAV .Testing-Frame .test-message {
  text-align: center;
  font-size: 12px;
  display: block;
  width: 100%;
}

.flexbox {
  margin: 0;
  align-items: center;
  display: flex;
  min-height: calc(100% - 100px);
}

/* .param-info-text{   display: flex;align-items: center; justify-content: center; } */
.param-info-text {
  margin-top: -40px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.param-info-text h1 {
  font-size: 30px;
  margin-bottom: 22px;
  color: #1e2c5a;
}

.param-info-text small {
  font-size: 16px;
  color: #344a5f;
}

.param-info-text .button-bar {
  margin-top: 30px;
}

.param-info-text .button-bar button:focus {
  outline: none;
}

.param-info-text .participate-row {
  font-size: 16px;
}

.Param-checkingAV-box .camara-test img {
  width: 100%;
}

.Param-checkingAV-box .camara-test video {
  width: 100%;
}

.Param-checkingAV-box .camara-setting {
  position: absolute;
  top: 12px;
  right: 22px;
}

.Param-checkingAV-box .camara-setting img {
  width: auto;
}

.param-info-text .button-bar button.color-white {
  font-size: 16px;
  color: #fff;
}

.Param-checkingAV-box .button-bar a, button {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.Param-checkingAV-box .button-bar .video img {
  width: 24px;
}

.Param-checkingAV-box .button-bar .audio {
  position: relative;
  top: 0;
}

.Param-checkingAV-box .button-bar .audio img {
  width: 26px;
}

.Param-checkingAV-box .button-bar .audio .badge {
  background: #fff;
  width: 17px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px;
}

.Param-checkingAV-box .button-bar .audio .badge img {
  width: auto;
}

.Param-checkingAV-box .button-bar .mic img {
  width: 24px;
  position: absolute;
  top: 14px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.Param-checkingAV-box .button-bar {
  text-align: center;
  height: 66px;
}

.Param-checkingAV-box .button-bar button {
  border: 0;
  outline: none;
  box-shadow: none;
  margin: 15px 10px;
  padding: 4px;
  box-sizing: border-box;
  top: 20px;
}

.Param-checkingAV-box .button-bar button.mic {
  position: relative;
}

.waiting-video {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 10px;
  background: #1e2c5a;
}

@media (max-width: 767px) {
  .TM-L-Bx .seperator {
    width: 100%;
    height: 1px;
  }

  .TM-L-Bx .seperator:after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.user-participate {
  width: 100%;
  height: 100%;
}

/*.meeting-participants{  position: relative;}*/
.meeting-participants .participant {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  height: 100%;
}

/*.meeting-participants .participant .grid img{ width: auto;height: auto;max-width: 100%;max-height: 100%;}*/
.meeting-participants .participant .grid {
  flex-grow: 1;
  flex-basis: 20%;
  display: flex;
  position: relative;
}

.meeting-participants .participant .grid .vc-btm-nav .col-12 ul li a {
  color: #fff;
  font-size: 12px;
}

.meeting-participants .participant .grid:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.leave-feedback {
  text-align: center;
}

.leave-feedback .col-12 textarea {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  padding: 10px 5px;
}

.leave-feedback .heading-text h2 {
  font-size: 20px;
}

.leave-feedback .heading-text span {
  font-size: 15px;
}

/* Invite Design */

.invite-tab {
  position: relative;
}

.invite-tab h3 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  line-height: 13px;
}

.invite-tab small {
  color: #c8c9c9;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 944px;
  overflow: hidden;
  margin: auto;
}

.carousel-item {
  margin-right: auto !important;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

.carousel-item .thumb {
  padding-left: 2px;
  padding-right: 2px;
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev, .carousel-control-next {
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.carousel-control-prev > span.material-icons {
  font-size: 26px !important;
}

.carousel-control-next > span.material-icons {
  font-size: 26px !important;
}

.carousel-control-prev {
  left: 3%;
  top: 31%;
}

.carousel-control-next {
  right: 3%;
  top: 31%;
}

.carousel-item .thumb .vc-btm-nav .col-12 ul li a {
  color: #fff;
  font-size: 12px;
}

.carousel-item .thumb .vc-btm-nav .col-12 ul li:first-child {
  margin-right: 10px;
}


@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

/* participate-show */


/*Rating*/
.rating {
  text-align: center;
  width: 100%;
  padding: 1.25rem 0 1.25rem;
}

.rating h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
  font-family: 'Poppins-SemiBold';
}

.rating-us {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rating-us form {
  margin: auto;
}

.rating-us ul {
  list-style: none;
  margin: 0 auto;
  padding: 0
}

.rating-us ul:after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}

.rating-us ul li {
  display: inline-block;
  text-align: center;
  margin: 0 13px;
}

.rating-us ul li span {
  display: block;
  margin-top: 20px;
}

.actions {
  display: none;
}


form.smileys input[type="radio"] {
  -webkit-appearance: none;
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;

  margin: 0 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

form.smileys input[type="radio"]:hover {
  background-color: #01b09c !important;
}

form.smileys input[type="radio"]:checked {
  background-color: #01b09c !important;
}

form.smileys input[type="radio"]:focus {
  background-color: #01b09c !important;
  border: none;
  outline: none;
}

form.smileys input[type="radio"].bad {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background: url('../../images/rating/sad.png') center center no-repeat;
  background-size: 40px;


}

form.smileys input[type="radio"].average {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background: url('../../images/rating/average.png') center center no-repeat;
  background-size: 40px;

}

form.smileys input[type="radio"].nice {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background: url('../../images/rating/nice.png') center center no-repeat;
  background-size: 40px;

}

form.smileys input[type="radio"].good {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background: url('../../images/rating/good.png') center center no-repeat;
  background-size: 40px;

}

form.smileys input[type="radio"].excellent {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background: url('../../images/rating/very-good.png') center center no-repeat;
  background-size: 40px;

}

.rating-feedback .button-group {
  margin-left: auto;
  display: table;
  width: auto;
}

.rating-feedback .btn-primary {
  width: auto;
  display: inline-block;
  padding: 0 2.5rem;
  margin-top: 0;
  height: 40px;
  line-height: 40px;
}

.rating-feedback .btn-secondary, .rating-us .btn-secondary {
  background: #989ea3;
  color: #fff;
  border: 0;
  padding: 0 2.5rem;
  width: auto;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border-radius: 50px;
}

.rating-feedback {
  padding: 0 70px;
}

.rating-feedback textarea {
  width: 100%;
  resize: none;
  border: 1px solid #01b09c;
  border-radius: 5px;
  height: 110px;
  padding: 12px 20px;
  margin-top: 30px;
}

.light-modal .modal-dialog {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  min-height: 100%;
}

/* Hardware testing popup*/
.joinmeeting .modal-header {
  padding: 0;
  background: #f0f4ff;
  border: 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.joinmeeting .modal-header ul {
  width: 100%;
}

.joinmeeting .modal-body {
  padding: 3em 26px 2em;
  min-height: 400px;
}

.joinmeeting .modal-header ul li {
  width: 50%;
  text-align: center;
  position: relative;
}

.joinmeeting .modal-header ul li a {
  color: #1e2c5a;
  font-size: 16px;
  padding: 16px 0;
  font-weight: 600;
}

.joinmeeting .modal-header ul li a.active {
  border-color: #f0f4ff;
  background: none;
  color: #3f6efd;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.joinmeeting .modal-header .nav-tabs .nav-item {
  margin: 0;
}

.joinmeeting .modal-header .nav-tabs {
  border: 0;
}

.joinmeeting .modal-header .nav-item a.active:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #3f6efd;
}

.joinmeeting .tab-content .col-7 {
  text-align: left;
  padding-right: 0;
}

.joinmeeting .tab-content .col-7 .form-group label {
  font-size: 18px;
  color: #15295b;
  margin-bottom: 15px;
}

.joinmeeting .modal-dialog {
  max-width: 720px;
}

.joinmeeting .modal-content {
  border-radius: 18px;
}

.joinmeeting .nav-tabs .nav-link:hover {
  border-color: #f0f4ff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.joinmeeting .tab-content .lable-title {
  font-size: 18px;
  color: #15295b;
  margin-bottom: 15px;
}

.joinmeeting .tab-content .form-group select {
  border-radius: 50px;
  font-size: 13px;
  height: 40px;
  padding-right: 20px;
}

.joinmeeting .tab-content .form-group select > option {
  transition: 0.5s;
  background: #f2f2f2;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 7px 0
}

.joinmeeting .tab-content .form-group select:focus {
  outline: none;
  box-shadow: none;
}

.joinmeeting .tab-content .form-group select:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.joinmeeting .tab-content .col-5 .boxAV {
  width: 190px;
  height: 209px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 16px 12px #f7f7f7;
}

.joinmeeting .sound-test img {
  margin-right: 10px;
}

.joinmeeting .sound-test {
  margin-right: 8px;
}

.joinmeeting .tab-content .btn-primary {
  width: auto;
  padding: 0 41px !important;
  margin-top: 70px;
}

.meeting-participants .participant .grid {
  flex-grow: 1;
  flex-basis: auto;
  /* display: flex; */
  position: relative;
  /* flex-shrink: 2; */
  flex: auto;
}

.meeting-participants .participant .grid video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.meeting-participants .participant .grid .vc-btm-nav .col-12 ul li a span img {
  width: auto;
  height: auto;
}

.meeting-participants .participant {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  height: 100%;
}

.meeting-participants .participant .grid video {
  width: 100%;
  height: 28vh;
  max-width: 100%;
  max-height: 100%;
  background-color: #344a5f;
}

.meeting-participants .participant .grid {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 33.3%;
  display: flex;
  position: relative;
  height: 50%;
}

.meeting-participants .participant .grid .vc-btm-nav .col-12 ul li a {
  color: #fff;
  font-size: 12px;
}

.meeting-participants .participant .grid:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/*.meeting-participants .participant .grid img {
    margin-left: 10px;
}*/

app-feedback .TM-Login {
  overflow: auto;
}

app-feedback .TM-Login > .row .col-12 {
  max-width: 750px !important;
}

.TM-Login > .row {
  padding: 1.5rem 0;
}

.rating-feedback {
  text-align: left;
}

.rating-feedback .col-sm-6 {
  padding: 0 15px
}

.custom-checkbox .custom-control-label {
  line-height: 1.5rem;
}

.custom-control-label::before {
  background-color: transparent;
}

/*.custom-control-input:checked~.custom-control-label::before {color: #fff;border-color: #135c56;background-color: #135c56;}*/
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.rating-feedback .form-group {
  margin-bottom: 1.5rem;
}

.rating-feedback textarea {
  border: 1px rgba(1, 176, 156, 0.3) solid;
  border-radius: 6px;
  font-size: 15px;
  color: #444;
  vertical-align: top;
}

.rating-feedback textarea:focus {
  border: 1px rgba(1, 176, 156, 0.3) solid;
  box-shadow: 0 7px 20px 0 rgba(1, 176, 156, 0.3);
}

.rating-feedback input[type="text"] {
  border: 1px rgba(1, 176, 156, 0.3) solid;
  border-radius: 6px;
  height: 50px;
  font-size: 15px;
  color: #444;
}

.rating-feedback input[type="text"]:focus {
  border: 1px rgba(1, 176, 156, 0.3) solid;
  box-shadow: 0 7px 20px 0 rgba(1, 176, 156, 0.3);
}


.meeting-participants .participant .grid img {
  margin-left: 10px;
}


.meeting-participants {
  min-height: 100% !important;
  /* display: flex !important; */
  flex-direction: row !important;
  /* flex-wrap: wrap !important; */
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
}

.fill-height-or-more > div.grid-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 33%;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #344a5f;

}

.fill-height-or-more > div.grid-box video {

  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  /*height:calc(100vh - 10px);*/
  height: 100%;
}

#video-setting video {
  width: 100%;
  height: 100%;
}

.edittable-name {
  background: #292b2f;
  color: #a7abaf;
  height: 31px;
  /* padding: 10px 6px; */
  width: calc(100% - 35px);
  border: 1px solid rgb(195, 195, 195, 0.5);
  border-radius: 3px;
}


#VideoSetting video {
  width: 100%;
  height: 100%;
}

.VideoBx video {
  width: 100%;
  height: 100%;
}
