/* You can add global styles to this file, and also import other style files */
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
/*@import '~font-awesome/css/font-awesome.css';*/
/*@import '~assets/css/style.css';*/
@import '~assets/css/login/checkAV.css';
@import '~assets/css/animation.css';


.toast-info{background-color: #333;}
.toast-container .ngx-toastr{box-shadow:0 0 8px 0 rgba(255,255,255,0.1);border: 1px rgba(255,255,255,0.15) solid;}
.toast-container .ngx-toastr:hover {box-shadow:0 0 8px 0 rgba(255,255,255,0.2);border: 1px rgba(255,255,255,0.2) solid;background-color: #2e2e2e;}