<body class="style fade-in">
<section class="checkAV">
  <header class="app-header navbar">
    <a class="navbar-brand" href="#/">
      <img class="navbar-brand-full" ng-reflect-ng-class="navbar-brand-full"
           src="../../../assets/images/logo.png"
           alt="Acefone meet">
    </a>
    <button type="button" ng-reflect-breakpoint="lg" class="navbar-toggler d-none d-lg-block">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown="" placement="bottom right" ng-reflect-placement="bottom right">
            <a aria-haspopup="true" class="nav-link color-green font-w600" data-toggle="dropdown" dropdowntoggle=""
               href="#" role="button">
                Sign In
            </a>
        </li>
    </ul>-->
  </header>

  <div class="flexbox">
    <div class="container">
      <div class="row">
        <div class="Param-checkingAV-box col-lg-7 col-sm-8">

          <div class="camera-test waiting-video" style="display: flex;justify-content: center;align-items: center;">
            <ng-container *ngIf="cameraVideoLoading">
              <div class="vcenter">
                <div class="dot-loader"></div>
                <div class="dot-loader dot-loader--2"></div>
                <div class="dot-loader dot-loader--3"></div>
              </div>
            </ng-container>
            <span class="NameFirstChar video-alt"
                  *ngIf="(!mediaStatus.video|| !mediaPermissions.video) && !cameraVideoLoading">{{helperService.getAvatarText(currentAttendee.name)}}</span>
            <video [hidden]="cameraVideoLoading || !mediaPermissions.video" autoplay #videoPreview muted="muted"></video>
            <i class="material-icons-outlined camara-setting cur-p" data-toggle="modal" data-target=".joinmeeting"
               (click)="onClickSettings()" *ngIf="mediaPermissions.audio|| mediaPermissions.video">
              <img [hidden]="cameraVideoLoading" src="../../../assets/images/setting.png">
            </i>
          </div>
          <div class="camera-test" style="display: flex;justify-content: center;align-items: center;"
               *ngIf="cameraError">
            <!--<span class="NameFirstChar video-alt"
                  *ngIf="!mediaStatus.video">{{helperService.getAvatarText(currentAttendee.name)}}</span>-->
            <video [hidden]="!mediaPermissions.video" muted="muted"></video>
            <!--<i class="material-icons-outlined camara-setting cur-p" data-toggle="modal" data-target=".joinmeeting" (click)="onClickSettings()">
              <img src="../../../assets/images/setting.png">
            </i>-->
          </div>

          <div class="button-bar">
            <button class="video bg-green-l" (click)="toggleVideoStatus()"
                    *ngIf="mediaStatus.video && !cameraError"><span
              class="material-icons" [ngClass]="{'btn-disabled':cameraVideoLoading}" style="color: white;font-size: 28px;">videocam</span></button>
            <button class="audio bg-red" (click)="toggleVideoStatus()" *ngIf="!mediaStatus.video && !cameraError"><span
              class="material-icons" [ngClass]="{'btn-disabled':cameraVideoLoading}" style="color: white;font-size: 28px;">videocam_off</span></button>
            <button class="video bg-green-l" [ngClass]="{'btn-disabled':cameraVideoLoading}" (click)="toggleAudioStatus()" *ngIf="mediaStatus.audio && !micError"><span
              class="material-icons" style="color: white;font-size: 28px;">mic</span></button>
            <button class="audio bg-red" [ngClass]="{'btn-disabled':cameraVideoLoading}" (click)="toggleAudioStatus()" *ngIf="!mediaStatus.audio && !micError"><span
              class="material-icons" style="color: white;font-size: 28px;">mic_off</span>
            </button>
            <button class="audio bg-red" *ngIf="cameraError"><span class="material-icons"
                                                                   style="color: white;font-size: 28px;">videocam_off</span>
              <span class="badge" *ngIf="cameraError"><img src="../../../assets/images/exclamation-sign.png"></span>
            </button>
            <button class="audio bg-red" *ngIf="micError"><span class="material-icons"
                                                                style="color: white;font-size: 28px;">mic_off</span>
              <span class="badge" *ngIf="micError"><img src="../../../assets/images/exclamation-sign.png"></span>
            </button>
            <!--            <button class="mic bg-navy-blue"></button>-->
            <button class="mic bg-navy-blue" *ngIf="mediaPermissions.audio">
              <img src="../../../assets/images/audio-de.png" *ngIf="instant <= 10">
              <div id="bars" *ngIf="instant > 10">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </button>
          </div>
        </div>

        <div class=" col-lg-5 col-sm-4 param-info-text">
          <h1 class="color-dark font-w600" *ngIf="currentMeeting">{{currentMeeting.display_name}}</h1>
          <!--          <div *ngIf="meetingDetails && currentAttendee && currentAttendee.role && currentAttendee.role === 'host'">-->
          <div>
            <div class="list-item" *ngIf="meetingDetails">
              <span class="material-icons color-blue mr-2">language</span> Meeting Url :
              <a href="">{{ meetingDetails.meetingUrl }}</a>
              <i class="ml-2 cur-p" [copy-clipboard]="meetingDetails.meetingUrl" #copyButton (copied)="onCopy()"><span
                class="material-icons">filter_none</span></i>
            </div>

            <div class="list-item" *ngIf="currentMeeting">
              <span class="material-icons color-blue mr-2">person</span> Room ID :
              <span class="color-blue">{{ currentMeeting.name }}</span>
            </div>

            <div class="list-item" *ngIf="currentMeeting">
              <span class="material-icons color-blue mr-2">lock</span> Meeting Code :
              <span class="color-blue">{{ currentMeeting.meeting_code }}</span>
            </div>
          </div>

          <div class="list-item" *ngIf="participantNames !== ''">
            <span class="material-icons color-blue mr-2">group</span> {{participantNames}}
          </div>
          <div class="button-bar mt-6">
            <button class="bg-blue color-white button-lg border-0" [ngClass]="{'btn-disabled':cameraVideoLoading}" (click)="onSubmit()">{{meetingType}}</button>
          </div>

          <div class="modal light-modal joinmeeting" (click)="onModalClick($event)">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">Audio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Video</a>
                    </li>
                  </ul>
                </div>
                <div class="modal-body text-center">
                  <div class="px-4 pb-2">
                    <div class="row">
                      <div class="col-12 px-0">
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                              <div class="col-7 ">
                                <form>
                                  <div class="form-group">
                                    <label>Microphone</label>
                                    <select #audioSource class="form-control" id="audio_source"
                                            (change)="onSourceChange()" [disabled]="!mediaPermissions.audio">
                                      <option *ngFor="let audioSource of sources.audioIn;let i=index"
                                              value="{{audioSource.deviceId}}">
                                        {{audioSource.label}}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="form-group mb-3">
                                    <label>Speakers</label>
                                    <select #audioDestination class="form-control" id="audio_destination"
                                            (change)="onDestinationChange()" [disabled]="!mediaPermissions.audio">
                                      <option *ngFor="let audioDestination of sources.audioOut;let i=index"
                                              value="{{audioDestination.deviceId}}">
                                        {{audioDestination.label}}
                                      </option>
                                    </select>
                                  </div>
                                </form>
                                <span class="sound-test"><img
                                  src="../../../assets/images/sound.png">Test</span>
                                <!--                                <div class="col-12 px-0">-->
                                <div class="progress">
                                  <div class="progress-bar" [ngStyle]="{'width': (instant) + '%'}"></div>
                                </div>
                                <!--                                </div>-->
                                <!--<span>
                                  <progress id="" value="{{instant}}" max="1"></progress>
                                  {{instant}}
                                  </span>-->
                                <!--<img
                              src="../../../assets/images/audio-test.png">-->
                              </div>
                              <div class="col-5 ">
                                <div class="boxAV pull-right pull-right"><img src="../../../assets/images/audio2.png">
                                </div>
                              </div>
                              <div class="col-12 text-right">
                                <a class="btn btn-primary btn-blue settingModalClose" data-dismiss="modal">Done</a>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                              <div class="col-7 pr-3">
                                <form>
                                  <div class="form-group">
                                    <label>Camera</label>
                                    <select #videoSource class="form-control" id="video_source" [disabled]="!mediaPermissions.video">
                                      <option *ngFor="let videoSource of sources.video;let i=index"
                                              value="{{videoSource.deviceId}}">
                                        {{videoSource.label}}
                                      </option>
                                    </select>
                                  </div>
                                </form>
                                <form>
                                  <div class="form-group">
                                    <label>Resolution <span class="loader" *ngIf="!resolutionsFetched && mediaPermissions.video"><span
                                      class="loader-box"></span><span class="loader-box"></span><span
                                      class="loader-box"></span></span></label>
                                    <select [disabled]="!resolutionsFetched" id="resolutionDropDown"
                                            class="form-control" (change)="onResolutionChange($event)">
                                      <option *ngFor="let resolution of resolutions;"
                                              [disabled]="!resolution.supported"
                                              [selected]="selectedResolution.width==resolution.width && selectedResolution.height==resolution.height">
                                        {{resolution.name}} ({{resolution.width}} X {{resolution.height}})
                                      </option>
                                    </select>
                                  </div>
                                </form>
                              </div>
                              <div class="col-5 ">
                                <ng-container *ngIf="settingsCameraVideoLoading">
                                  <div class="vcenter">
                                    <div class="spinner"></div>
                                  </div>
                                </ng-container>
                                <video [hidden]="settingsCameraVideoLoading" class="boxAV pull-right pull-right "
                                       autoplay #videoSettingPreview
                                       muted="muted" style="width: 100%!important;"></video>
                                <!--<div class="boxAV pull-right pull-right" *ngIf="cameraError"><img src="../../../assets/images/video2.png"></div>-->
                              </div>
                              <div class="col-12 text-right">
                                <a class="btn btn-primary btn-blue" data-dismiss="modal"
                                   (click)="applySettings()">Done</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--<div class="card-body box-padding">
          <div class="row">
            <div class="Testing-Frame align-center" *ngIf="cameraError">
              <div class="white-box">
                <img src="../../../assets/images/camara-disable.png">
                <i class="icon-red-badge material-icons"
                   aria-hidden="true">priority_high</i>
              </div>
              <span class="test-message mb-3 my-3">{{cameraError}}</span>
            </div>
            <div class="Testing-Frame align-center" *ngIf="!cameraError">
              <div class="white-box">
                <img src="../../../assets/images/camara-disable.png"
                     [hidden]="mediaStatus.video">
                <video #videoPreview [hidden]="!mediaStatus.video"
                       muted="muted"></video>
                <i class="icon-green-badge-2 material-icons" aria-hidden="true"
                   *ngIf="mediaStatus.video">check</i>
                <i class="icon-green-badge material-icons" aria-hidden="true"
                   *ngIf="!mediaStatus.video">check</i>
              </div>
              <span class="test-message mb-3 my-3" *ngIf="mediaStatus.video">Camera detected successfully</span>
              <span class="test-message mb-3 my-3" *ngIf="!mediaStatus.video">Camera is disabled</span>
            </div>
            <div class="Testing-Frame align-center" *ngIf="micError">
              <div class="white-box">
                <img src="../../../assets/images/audio-check.png">
                <i class="icon-red-badge material-icons"
                   aria-hidden="true">priority_high</i>
              </div>
              <span class="test-message mb-3 my-3">{{micError}}</span>
            </div>
            <div class="Testing-Frame align-center" *ngIf="!micError">
              <div class="white-box">
                <img src="../../../assets/images/audio-check.png" *ngIf="mediaStatus.audio">
                <img src="../../../assets/images/audio-check2.png"
                     *ngIf="!mediaStatus.audio">
                <i class="icon-green-badge material-icons" aria-hidden="true">check</i>
              </div>
              <span class="test-message mb-3 my-3" *ngIf="mediaStatus.audio">Mic detected successfully</span>
              <span class="test-message mb-3 my-3"
                    *ngIf="!mediaStatus.audio">Mic is disabled</span>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 px-0 py-0">
          &lt;!&ndash;<button class="btn use-phone">Use phone Audio</button>&ndash;&gt;
          <button class="btn skip-now" (click)="onSkip()">Skip Now</button>
        </div>
      </div>
    </div>-->

        <!--<div class="col-lg-6 col-sm-6 param-info-text">
          <h1 class="color-dark font-w600">Here’s how you’ll appear in the meeting.</h1>
          <small>Make better meeting decisions with seamless access to quality.</small>
          <br>
          <div *ngIf="currentAttendee && currentAttendee.role && currentAttendee.role === 'host'">
            <small>Meeting Url : </small>
            <a href={{meetingDetails.meetingUrl}}>{{ meetingDetails.meetingUrl }}</a>
            <br>
            <small>Room ID : </small>
            <small>{{ meetingDetails.name }}</small>
            <br>
            <small>Meeting Code : </small>
            <small>{{ meetingDetails.meetingCode }}</small>
          </div>
          <div class="participate-row color-green"><img class=" mr-2"
                                                        src="../../../assets/images/participate.png">Active
            participants : {{participantsCount}}
          </div>
          <div class="button-bar mt-6">
            <button (click)="toggleVideoStatus()" class="bg-red button-circle border-0 mr-2"
                    data-toggle="tooltip" data-placement="top" [disabled]="cameraError"
                    title="Tooltip on top"><span class="material-icons color-white"
                                                 *ngIf="mediaStatus.video">videocam</span><span
              class="material-icons color-white" *ngIf="!mediaStatus.video">videocam_off</span>
            </button>
            &lt;!&ndash;<button (click)="toggleAudioStatus()" class="bg-green button-circle border-0 mr-2" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top"><img src="../../../assets/images/audio.png" alt="audio"></button>&ndash;&gt;
            &lt;!&ndash;<img src="../../../assets/images/video-hide.png" alt="video hide" *ngIf="!mediaStatus.video"><img src="../../../assets/images/video.svg" alt="video" *ngIf="mediaStatus.video">&ndash;&gt;
            <button (click)="toggleAudioStatus()" class="bg-green button-circle border-0 mr-2"
                    data-toggle="tooltip" data-placement="top" [disabled]="micError"
                    title="Tooltip on top"><span class="material-icons color-white"
                                                 *ngIf="mediaStatus.audio">mic</span><span
              class="material-icons color-white" *ngIf="!mediaStatus.audio">mic_off</span>
            </button>
            &lt;!&ndash;<button class="bg-white color-green button-lg border-0 mr-2" (click)="onSkip()">Skip Now
            </button>&ndash;&gt;
            <button class="bg-white color-green button-lg border-0" data-toggle="tooltip"
                    data-placement="top" title="Tooltip on top" (click)="onSubmit()">
              {{meetingType}}
            </button>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="audio_source">Audio source</label>
                <select #audioSource class="form-control" id="audio_source"
                        (change)="onSourceChange()">
                  <option *ngFor="let audioSource of sources.audioIn;let i=index"
                          value="{{audioSource.deviceId}}">
                    {{audioSource.label}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="video_source">Video source</label>
                <select #videoSource class="form-control" id="video_source">
                  <option *ngFor="let videoSource of sources.video;let i=index"
                          value="{{videoSource.deviceId}}">
                    {{videoSource.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>
</body>
