.param-info-text .list-item {
  position: relative;
  padding: 7px 0 7px 35px;
  font-family: 'Poppins-SemiBold';
}

.param-info-text .list-item > .material-icons {
  position: absolute;
  left: 0;
  top: 4px;
}

.param-info-text .list-item .material-icons {
  font-size: 24px;
}

#options-bar {
  margin-bottom: 20px;
}

#options-bar a {
  display: inline-block;
  color: #1976d2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 20px;
}

.video-alt {
  position: absolute;
  font-size: 50px !important;
  width: 100px !important;
  min-width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
  background-color: #2f68ed; /*color: #01b09c;*/
}

.cur-p {
  cursor: pointer;
}

.btn-blue {
  background: #2f68ed !important;
}

option:disabled {
  background-color: #ccc !important;
}


#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  /*     background: black; */
}

.bar {
  background: white;
  bottom: 1px;
  height: 2px;
  width: 4px;
  margin: 0px 0px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 25px;
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 220ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 280ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }

.loader {
  height : 8px;
  width  : 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
  display                   : inline-block;
  height                    : 8px;
  width                     : 8px;
  margin                    : 0px 2px;
  background-color          : rgb(47,104,237);
  animation-name            : fadeOutIn;
  animation-duration        : 500ms;
  animation-iteration-count : infinite;
  animation-direction       : alternate;
}

.loader-box:nth-child(1) { animation-delay: 250ms; } /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) { animation-delay: 500ms; } /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) { animation-delay: 750ms; } /* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
  0%   { background-color : rgba(47,104,237,1); }
  100% { background-color : rgba(47,104,237,0); }
}
.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2f68ed ;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}

.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.spinner {
  display: block;
  margin: auto;
  height: 2em;
  width: 2em;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 50%;
  animation: rotation 0.6s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.btn-disabled{
  opacity:0.5;
}
